@charset "utf-8";
/* 
  공통css
*/
body{
  color: #292c33;
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
}
.wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  width : 100%;
}


.blind{
  position: absolute;
  top:0;
  left: -100000px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -999999px;
  overflow: hidden;
}

/* header */
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color:rgba(217, 217, 217,.5);
  z-index: 11;
}
.header h1{
  padding:5px 0;
  width: 40px;
  height: 40px;;
}
.header h1 img{
  width: 100%;
  border-radius: 50%;
}
.header .gnb{
  position: absolute;
  top:0;
  right: 0;
}
.header ul li{
  margin-left: 20px;
  float: left;
}
.header ul li:first-child{
  margin-left:0;
}
.header ul li a{
  padding:5px 0;
  color: #292c33;
  font-size: 14px;
  line-height: 50px;
}
.header ul li.active a{
  font-weight: 700;
  border-bottom: 2px solid #4484ce;
}
.header .btn_mobile_gnb{
  display:none;
}
/* footer */
.footer{
  padding:10px;
  text-align: center;
  border-top: 1px solid #96858f;
}
.footer .copyright{
  color: #96858f;
  font-size: 14px;
}