@charset "utf-8";
/* 
  공통css
*/
body{
  color: #292c33;
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
}

.wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  width : 100%;
}


.blind{
  position: absolute;
  top:0;
  left: -100000px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -999999px;
  overflow: hidden;
}

/* header */
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color:rgba(217, 217, 217,.5);
  z-index: 11;
}
.header h1{
  padding:5px 0;
  width: 40px;
  height: 40px;;
}
.header h1 img{
  width: 100%;
  border-radius: 50%;
}
.header .gnb{
  position: absolute;
  top:0;
  right: 0;
}
.header ul li{
  margin-left: 20px;
  float: left;
}
.header ul li:first-child{
  margin-left:0;
}
.header ul li a{
  padding:5px 0;
  color: #292c33;
  font-size: 14px;
  line-height: 50px;
}
.header ul li.active a{
  font-weight: 700;
  border-bottom: 2px solid #4484ce;
}
.header .btn_mobile_gnb{
  display:none;
}
/* footer */
.footer{
  padding:10px;
  text-align: center;
  border-top: 1px solid #96858f;
}
.footer .copyright{
  color: #96858f;
  font-size: 14px;
}


/* slick slider custom css */
.slick-next,
.slick-prev{
  position: absolute;
  top:50%;
  width:30px;
  height: 30px;
  font-size: 0;
  background-color: #4484ce;
  border:0;
  border-radius:50%;
  cursor:pointer;
}
.slick-prev{
  left:-5%;;
}
.slick-prev::after{
  content:"\f104";
  color:#fff;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight:600;
}
.slick-next{
  right:-5%;;
}
.slick-next::after{
  content:"\f105";
  color:#fff;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight:600;
}
.slick-dots li{
  margin:0 5px;
  position: relative;
  display: inline-block;
  width:20px;
  height: 20px;
  cursor: pointer;
}
.slick-dots li button{
  padding: 5px;
  width:20px;
  height: 20px;
  color:transparent;
  font-size: 0;
  line-height:0;
  border:0;
  background:transparent;
  outline:0;
  cursor: pointer;
}
.slick-dots li button:before{
  content:'•';
  position: absolute;
  top:0;
  left: 0;
  width: 20px;
  height: 20px;
  color: #292c33;
  font-size: 35px;
  text-align: center;
  opacity: .25;
}
.slick-dots li.slick-active button:before{
  opacity: .75;
}

/* 모바일 접속 안내문구 */
.warning_mob{
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 11;
}
.warning_mob .wrapper_mob{
  padding:100px 30px;
  box-sizing: border-box;
}
.warning_mob .wrapper_mob div{
  margin-bottom: 30px;
  font-size: 100px;
}
.warning_mob .wrapper_mob h2{
  margin-bottom: 62px;
  padding: 20px;
  display: inline-block;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  background-color: #f7882f;
}
.warning_mob .wrapper_mob p{
  color: #292c33;
  font-size: 24px;
  line-height: 24px;
}
/* 미디어쿼리 */
@media only screen and (max-width: 960px){
  .warning_mob{
    display: block;
  }
}