    /*스타일*/
    /*스타일 초기화*/
    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

@font-face{
    font-family: 'Noto Sans';
    src:url(./NotoSansKR-Regular-Hestia.eot) format('eot'),
        url(./NotoSansKR-Regular-Hestia.otf) format('otf'),
        url(./NotoSansKR-Regular-Hestia.woff) format('woff');
}
    html,body{
        width: 100%;
/*        height: 100%;*/
        background-color: #fff;
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        color: #292c33;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        font-family: 'Noto Sans', sans-serif;
        line-height: 1;
        background:url(../../img/untitled-1.png);
        background-repeat: no-repeat;
        background-size: 210mm 297mm;        
        letter-spacing: -0.4px;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /*blind클래스*/
    .blind{
        overflow: hidden;
        position: absolute;
        top:0;
        left: -999999px;
        width: 1px;
        height: 1px;
        font-size: 0;
        line-height: 0;
        text-indent: -999999px;
    }
    /*페이지 css*/
    .page{
        padding:10mm 20mm;
        min-width: 210mm;
        min-height: 297mm;
        box-sizing: border-box;
        outline: 1px solid blue;
    }
    article.wrapper{
        outline:1px solid red;
    }
    /*헤더영역*/
    .article-header{
        margin-bottom: 4.375rem;
    }
    .article-header .head-info{
        margin-bottom: 5%;
        padding:3% 0 1%;
        position: relative;
        border-bottom: 1px solid #292c33;
    }
    .article-header .head-info h1{
        font-size: 10px;
        font-weight: 700;
    }
    .article-header .head-info h2{
        position: absolute;
        bottom:13%;
        right: 0;
        font-size: 10px;
        font-weight: 300;
    }
    /*타이틀 정렬 클래스 좌, 우 */
    .article-header .article-title.align-left{
        text-align:left;
    }
    .article-header .article-title.align-right{
        text-align:right;
    }
    .article-header .article-title h3{
        margin-bottom: 3%;
        font-size: 38px;
        font-weight: 300;
    }
    .article-header .article-title p{
        font-size: 1.25rem;
        color: #737780;
    }
    .article-header .article-title p strong{
        color: #737780;
        font-weight: 500;
    }
    /*본문영역*/
    /*본문 좌측*/
    .content{
        position: relative;
        display: table;
        width: 100%;
        height: calc(100vh - 210px);/*전체 화면 높이에서 header만큼 빼줌*/
        overflow: hidden;
    }
    .content .main-cont {
        display: table-cell;
        width: 62%;
        vertical-align: middle;
    }
    .main-cont.top-align-cont{
        vertical-align: baseline;
    }
    /*본문 우측*/
    .content .side-cont{
        display: table-cell;
        width: 38%;
        text-align: right;
    }