@charset "utf-8";
@import url(../css/subcommon.css);
@import url(../css/core.css);
/* CSS history page*/

/*컨텐츠영역*/
#hiscont{
    position:relative;
    width:100%;
    height: 100%;
    background-color:#000;
	overflow: hidden;
}
#hiscont>section{
    position:absolute;
    width:100%;
    height:75%;
/*	margin-top:5%;*/
/*	outline:1px solid red;*/
    bottom:-100%;
    left:0;
}
#hiscont>#story1{
	bottom:10%;
}

/*
#story2, #story3, #story4, #story5{
	left:-100% !important;
}
*/

#histit{
	position:relative;
	width:800px;
	height:45px;
	padding:5% 0 0 10%;
/*	outline:1px solid red;*/
}
#histit>h1{
	position:absolute;
	top:30px;
	left:20%;
	color:#fff;
    text-align: center;
    font:bold 5em/70px "BRoboto";
    text-shadow: 0 0 10px #00aced;
}
#histit>h3{
	position:absolute;
	top:60px;
	right:30%;
	color:#fff;
    font:bold 2em/30px "BRoboto";
    text-shadow: 0 0 10px #00aced;
}
/*이동버튼*/
#histit>span{
	display: block;
	position:absolute;
	width:25px;
	height: 49px;
	overflow:hidden;
}
#histit>span:first-of-type{
	top:50px;
	left:10%;
}
#histit>span:last-of-type{
	top:50px;
	right:15%;
}
#histit>span>a{
	display: block;
	position: absolute;
	width:100%;
	height: 100%;
}
#histit>span>a>img{
	position: absolute;
	top:0px;
}
#histit>span>a:hover img{
	top:-49px;
}

#hiscont>section>ul{
    position:absolute;
    width:100%;
    height:70%;
    left:0;
    bottom:10%;
    transition:all 1s;
/*    outline:1px solid red;*/
}
#hiscont>section>ul>li{
	position:relative;
    width:18%;
    height: 100%;
    margin:0 1%;
	cursor:pointer;
/*    outline:1px solid red;*/
}



/*이미지박스*/
#hiscont>section>ul>li>span:first-child{
    display:block;
    width:100%;
    height: 45%;
}
#hiscont>section>ul>li>span>img{
    width:100%;
    height: 100%;
    opacity:0.3;
}
/*글박스*/
#hiscont>section>ul>li>span:last-child{
    display:block;
    width:100%;
    height:55%;
/*    background-color:#00aced;*/
}
#hiscont>section>ul>li>span:last-child>strong{
    display:block;
    width:100%;
    padding-top:7px;
    font:bold 1.5em/25px "NBG";
    text-align: center;
	line-height: 30px;
    color:#fff;
	opacity:0.3;
}
#hiscont>section>ul>li>span:last-child>span{
    display:block;
    width:90%;
    height: 55%;
    margin:0 auto;
    padding-top:5px;
    color:#fff;
    font-size:0.8em;
    opacity:0;
	transition:all .3s;
/*    outline:1px solid red;*/
}


/*li에 마우스오버시 텍스트 보이기, 이미지 진하게*/
#hiscont>section>ul>li:hover img{
	opacity:1;
}
#hiscont>section>ul>li:hover span:last-child{
	background-color:#1F1F1F;
}
#hiscont>section>ul>li:hover span:last-child strong{
	opacity:1;
}
#hiscont>section>ul>li:hover span:last-child>span{
	opacity:1;
}
/*연도 블릿 박스*/
#yearbox{
    position:absolute;
    left:50%;
    bottom:5%;
    transform:translateX(-50%);
}
#yearbox>ul{
    position:relative;
    width:100%;
}
#yearbox>ul>li{
    width:20%;
}
#yearbox>ul>li>a{
    display:block;
    transform:rotate(-45deg);
	font-size: 1.1em;
    color:#fff;
}
#yearbox>ul>li>a>span{
	padding-right:10px;
}

/*선택페이지 블릿효과 클래스*/
.selsc>a{
	color:#00aced !important;
	font-weight: bold;
}
.selsc>a>span{
	animation:scani 0.5s linear infinite;
}
@keyframes scani{
	0%{
		color:#00aced;
	}
	100%{
		color:#fff;
	}
}





