@charset "utf-8";
/* CSS 메인페이지 */
@import url(../css/common.css);
@import url(../css/core.css);
@import url(../css/media.css);

/*section{
	overflow:hidden;/*자식요소 숨기기
}*/
/*메인페이지 이미지/동영상영역*/
#mimage{
	position:relative;
	width:100%;
	height:100%;
/*	background-color:#489FDF;*/
}
/*메인 영상*/
#mainav{
    position:fixed;
	width:100%;
	height: 100%;
    top:0%;
	left:0%;
	object-fit: cover;
}

/*배경이미지박스 디자인*/
#mimage>div{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
	top:0;
}
#mimage>.back1{
    background:url(../images/main01.png) no-repeat center center/cover;
}
#mimage>.back2{
    background:url(../images/main02.png) no-repeat center center/cover;
}
/*메인 텍스트 박스*/
#mimage>div:nth-of-type(3){
    position:absolute;
    width:45%;
    height: 40%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#mimage>div:nth-of-type(3)>p{
    position:relative;
    width:100%;
    color:#fff;
    font:4.5em BRoboto;
    text-align:center;
}
#mimage>div:nth-of-type(3)>p:last-child{
    font-size:2em;
}




/*about arena*/
#main1{
	position:relative;
	width:100%;
	height:100%;
	background-color:#000;
}/*
#main1::after{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:117px;
	bottom:-117px;
	background:url(../images/bg_section01.png) no-repeat 0 0/100%;
	z-index:99;
	outline:1px solid lime;
}*/
#main1::before{	
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:20%;
	background:url(../images/logo_white.png) no-repeat 300% 50%/100%;
	opacity:.3;
}

#main1>div{/*패럴렉스 이미지*/
	position:relative;
	width:100%;
	height: 100%;
	background:url(../images/mainswim.png) no-repeat fixed;
}


/*메인1 타이틀디자인*/
#main1>.mtit{
	top:30%;
	right:10%;
}
/*메인1 내용디자인*/
#main1>.mtxt{
	top:20%;
	right:15%;
}
/*메인1 버튼디자인*/
#main1>.mbtn{
	bottom:5%;
	right:13%;
}

/*메인페이지 컨텐츠 공통*/
.mtit{
	position:absolute;
	font:3.75em BRoboto;
	color:#fff;
	opacity:0;
	z-index:7;
	text-align: center;
}
.mtxt{
	position:absolute;
	font:1.25em BRoboto;
	color:#fff;
	text-align:center;
	opacity:0;
	z-index:7;
}
.mbtn{
	position:absolute;
	width:200px;
	height:70px;
	font-size:1.4em;
	border:3px solid #fff;
	border-radius:40px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff,0 0 10px #00aced, 0 0 15px #00aced, 0 0 40px #00aced; 
	-webkit-transition: all 0.5s;
 	 -moz-transition: all 0.5s;
  	transition: all 0.5s;
	z-index:7;/*버튼 순위올려주기, 패럴렉스에 걸림*/
}
.mbtn>a{
	position:absolute;
	width:100%;
	height: 100%;
	color:#fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff,0 0 20px #00aced, 0 0 40px #00aced, 0 0 60px #00aced;
	text-align: center;
	line-height: 70px;
	z-index:11;
}







/***************product********************/
#main2{
	position:relative;
	width:100%;
	height:100%;
	background:#f3f3f3 url(../images/maincont02.png) no-repeat bottom/cover;
}
#main2::before{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:117px;
	top:-2px;
	background:url(../images/bg_section01.png) no-repeat 0 0/100%;
/*	outline:1px solid lime;*/
}
#main2::after{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:117px;
	bottom:-1px;
	background:url(../images/bg_section02.png) no-repeat;
}
/*메인2 타이틀디자인*/
#main2>.mtit{
	top:30%;
	left:10%;
	color:#000;
}
/*메인2 내용디자인*/
#main2>.mtxt{
	top:20%;
	left:15%;
	color:#000;
}
/*메인2 버튼디자인*/
#main2>.mbtn{
	bottom:25%;
	left:12%;
}

/**************sponsorship**************/
#main3{
	position:relative;
	width:100%;
	height:100%;
	background-color:#fff;
}
/*메인3 타이틀디자인*/
#main3>.mtit{
	top:28%;
	left:10%;
	color:#000;
}
/*메인3 내용디자인*/
#main3>.mtxt{
	top:20%;
	left:22%;
	color:#000;
}
/*메인3 버튼디자인*/
#main3>.mbtn{
	bottom:15%;
	left:12%;
}
#main3>.mbtn>a{
	color:#00aced;
}
#main3>div:first-of-type{
	position:absolute;
	width:100%;
	height:100%;
	background:url(../images/maincont03.png) no-repeat fixed;
}
#main3>div:last-of-type{
	position:absolute;
	width:100%;
	height:100%;
	background:url(../images/maincont03-1.png) no-repeat fixed;
}
/**************store**************/
#main4{
	position:relative;
	width:100%;
	height:60%;
	background:url(../images/maincont04.png) no-repeat top/cover;
}
/*메인4 타이틀디자인*/
#main4>.mtit{
	top:20%;
	right:17%;
}
/*메인4 내용디자인*/
#main4>.mtxt{
	top:20%;
	right:16%;
}
/*메인4 버튼디자인*/
#main4>.mbtn{
	bottom:10%;
	left:50%;
	transform:translateX(-50%);
}


