@charset "utf-8";
/* 서브페이지 공통CSS Document */


/*타이틀,메뉴박스 디자인*/
#navbox{
    position:relative;
    width:100%;
	height: 70px;
    top:0;
    background-color:#000;
	z-index:9;/*메뉴 순위 높여주기*/
}
/*메뉴아이콘콘*/


/*햄버거메뉴*/
#hambox{
	position:absolute;
	width:150px;
	height: 70px;
	left:0;
	top:0;
	z-index: 999999;
/*	outline:1px solid red;*/
}
#hambox>#ham{
	display: block;
    position:absolute;
    width:30px;
    height:20px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index: 9999999;
/*	outline:1px solid red;*/
}
/*메뉴막대기*/
#ham>span:first-of-type{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:4px;
	background-color:#fff;
	border-radius: 3px;
	transition:all .7s;
}
#ham>span:nth-of-type(2){
	position:absolute;
	top:8px;
	left:0;
	width:100%;
	height:4px;
	background-color:#fff;
	border-radius: 3px;
	transition:all .7s;
}
#ham>span:nth-of-type(3){
	position:absolute;
	top:16px;
	left:0;
	width:100%;
	height:4px;
	background-color:#fff;
	border-radius: 3px;
	transition:all .7s;
}

/*햄버거 메뉴클릭시 애니메이션만들기기*/
#ham>svg{
	position:absolute;
	width:50px;
	height:50px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
/*	outline:1px solid red;*/
}
.c1{/*circle */
		fill:transparent;/*면채우기기 색 기본값은 검정색*/
		stroke:#fff;/*선색*/
		stroke-width:4;/*선두께께, svg 픽셀단위는 생략한다다*/
		stroke-dasharray:140; /*3.14*반지름의제곱=현재 원의 원주율(원둘레길이)*/
		stroke-dashoffset:140;
		transition:stroke-dashoffset .7s;
	}


/*메뉴막대 변경시키기*/
.hamani span:nth-child(1){
	transform:translateY(8px) rotate(-45deg);
}
.hamani span:nth-child(2){
	opacity:0;
	animation: hamani01 .7s forwards;
}
.hamani span:nth-child(3){
	transform:translateY(-8px) rotate(45deg);
}
/*가운데 막대 애니메이션*/
@keyframes hamani01{
	100%{
		left:80%;
		height:0;
	}
}



/*아레나 로고 디자인*/
#navbox>a:nth-child(1){
	position:absolute;
	width:92px;
	top:2px;
	left:50%;
	transform:translateX(-50%);
}
#navbox>a:nth-child(1) img{
	display:block;
	width:100%;
}
/*검색박스 디자인*/
#navbox>div{
	width:200px;
    position:absolute;
	top:20px;
	right:10%;
/*	outline:1px solid red;*/
}

input:focus{/*포커스가면 커지는 입력창*/
    width:180px;
    height:20px;
    border-radius:40px;
    padding: 0 20px;
    line-height: 2em;
    font-weight: 100;
    font-size: 12px;
  	cursor:auto;
}
 
#navbox>div>label{
	display:inline-block;
	position:absolute;
	width:0;
	height: 0;
}
#navbox>div>label>span{
/*	display:none;*/
	opacity:0;
}
input{/*검색창 기본 디자인, 돋보기*/
    float:right;
    border:3px solid #fff;
    outline:none;
    width:20px;
    height:20px;
  	cursor:pointer;
    transition:.2s all ease-in;
    color:#fff;
    border-radius:20px;
    background:none;
}
.close span{/*돋보기손잡이*/
width:3px;
height:15px;
border-radius:2px;
background:#fff;
display:inline-block;
cursor:pointer;
}

.front{/*x모양 앞쪽 선*/
    position:absolute;
    right:24px;
    top:6px;
    transform: rotate(-45deg);
    opacity:0;
    animation-delay: 2s;
    transition:.2s all ease-in;

}
        

.back{/*손잡이에서 x모양으로가는 span*/
    position:absolute;
    right:-2px;
    top:20px;
    transform: rotate(-45deg);
    transition:.2s all ease-in;
} 
      
        

input:focus + div .front{/*input에 포커스가면 바로 다음 span 손잡이 회전시키기*/
    opacity:1;
    transition-delay: .2s;
    transform: rotate(45deg);        
}
        

input:focus + div .back{/*앞쪽 x마크 위치정하기*/
    right:24px;
    top:6px;
}




/*로그인*/
#navbox>a:last-child{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:5%;
    width:20px;
	font:1em Broboto;
	letter-spacing: 1px;
	color:#fff;
}


/*gnb메뉴 나오는 화면 전체 디자인*/
#menu{/*gnb배경*/
	position:fixed;
	width:100%;
	height:100%;
	top:0%;
	left:-100%;
	background-color:#002e40;
	overflow:hidden;/*넘치는 요소 숨기기 모바일에서서 글자가 보임..*/
	z-index:999;
}
/*gnb메뉴 제목디자인*/
#menu>h2{
	position:absolute;
	top:10%;
	right:2%;
	font-size:2.5em;
	font-family:'BRoboto';
	color:#fff;
	line-height: 25px;
	text-align: right;
}
#menu>h2>span{
	font-size:.6em;
}

/*gnb메뉴 디자인***********************************/
#menu>ul:first-of-type{
	position:absolute;
	width:100%;
	height:55%;
	top:30%;
	box-sizing:border-box;
}
#menu>ul:first-of-type>li{
	position:relative;
	width:20%;
	height:100%;
	border:1px solid #00719c;
	border-right:none;
	box-sizing:border-box;
	transition:all .7s;
}
#menu>ul:first-of-type>li>span{
	position:absolute;
	display:inline-block;
	top:50%;
	left:10%;
	transform:translateY(-50%);
	color:#fff;
	font-size:1.6em;
	font-family:'Roboto';
	transition:all .7s;
/*	outline:1px solid red;*/
	
}
#menu>ul:first-of-type>li>span::after{/*gnb타이틀 밑줄*/
	content:"";
	display: block;
	position:absolute;
	width:0%;
	height:3px;
	background-color:#00aced;
	transition:width .7s;
}



#menu>ul:first-of-type>li:last-child{/*마지막 li 보더주기*/
	border-right:1px solid #00719c;
}

/*lnb메뉴 디자인*/
#menu>ul:first-of-type>li ul.lnbm{
	display:inline-block;
	position:absolute;
	top:60%;
	left:50%;
	width:35%;
	height: 35%;
	transition:all .7s;
/*	outline:1px solid red;*/
}
#menu>ul:first-of-type>li ul.lnbm>li{
	width:100%;
	left:60%;
	margin-top:5%;
	line-height: 25px;
	font-size:1.06em;
	text-align:center;
	transition:all .7s;
}
#menu>ul:first-of-type>li ul.lnbm>li>a{
	color:#fff;
	transition:all .7s;
}

/*li에 마우스 오버시 크기 커지고 색 변경, 밑줄넣기*/
#menu>ul:first-of-type>li:hover{
	transform:scaleX(1.05) scaleY(1.1);
	background-color:#00151d;
	border:none;
	margin-left:0;
	z-index:1;
}




#menu>ul:first-of-type>li:hover span{
/*	border-bottom:3px solid #00aced;*/
	left:50%;
	transform:translate(-50%,-50%);
}
#menu>ul:first-of-type>li:hover span::after{
	width:100%;
}




/*li에 마우스오버시 lnb메뉴 디자인*/

#menu>ul:first-of-type>li:hover .lnbm{
	transform:translateX(-50%);
}
#menu>ul:first-of-type>li>.lnbm>li:hover a{
	color:#00aced;
/*	font-size:1.07em;*/
	font-weight: bold;
	text-decoration: underline;
}

/*sns영역 디자인*/
#menu #sns{
	position:absolute;
	width:350px;
	height:60px;
	bottom:5%;
	right:3%;
}
#menu #sns>li{
	position: relative;
	width:25%;
	height: 100%;
/*	outline:1px solid red;*/
	overflow:hidden;
}
#menu #sns>li>a{
	width:100%;
	height: 100%;
}
#menu #sns>li img{
	position: absolute;
	width:60px;
	left:50%;
	transform:translateX(-50%);
	top:-60px;
}

#menu #sns>li>a:hover img{
	top:0;
}

/*모바일 gnb메뉴디자인***********************************/
#mob_menu{/*gnb배경*/
	position:fixed;
	width:100%;
	height:100%;
	top:0%;
	left:-100%;
	background-color:#002e40;
	overflow:hidden;/*넘치는 요소 숨기기 모바일에서서 글자가 보임..*/
	z-index:999;
	
}
#mob_menu>ul:nth-child(1){
	position:relative;
	width:100%;
	margin-top:20%;
/*	outline:1px solid red;*/
}
#mob_menu>ul:nth-child(1)>li{
	width:100%;
	border-bottom:1px solid #00aced;
}
#mob_menu>ul:nth-child(1)>li:first-child{
	border-top:1px solid #00aced;
}
#mob_menu>ul:nth-child(1)>li>span{
	position: relative;/*부모자격*/
	display:block;
	width:100%;
	left:8%;
	color:#fff;
	font-size:1.6em;
	font-family:'Roboto';
	line-height: 50px;
}




#mob_menu>ul:nth-child(1)>li>.mob_lnbm{
	width:100%;
	background-color:#00151d;
	padding:10px 0;
	display:none;
}
#mob_menu>ul:nth-child(1)>li>.mob_lnbm>li{
	width:100%;
	padding:3px 0;
}
#mob_menu>ul:nth-child(1)>li>.mob_lnbm>li>a{
	display:block;
	position: relative;
	color:#fff;
	width:35%;
	margin-left:60%;
	line-height: 25px;
}
/*선택된 gnb메뉴 글자 디자인*/


/*하위메뉴 표시 +기호*/
.plus>span::after{
	content:"＋";
	display:block;
	position:absolute;
	top:0px;
	right:15%;
	font-size:35px;
	font-weight: bold;
	font-family:'Roboto';
	color:#fff;
}
/*클릭된 요소의 플러스기호 마이너스로 변경*/
.plus2>span::after{
	content:"－";
	color:#fff;
}



#mob_menu #mob_sns{
	position: absolute;
	width:300px;
	height: 50px;
	bottom:50px;
	overflow: hidden;
	left:50%;
	transform:translateX(-50%);
	text-align: center;
}
#mob_menu #mob_sns>li{
	width:25%;
	height:100%;
}
#mob_menu #mob_sns>li>a{
	display: block;
	width:100%;
	height: 100%;
}
#mob_menu #mob_sns>li>a>img{
	height: 100px;
}


/***********************************서브페이지 lnb메뉴 디자인영역************************************/
#lnbnav{
	position:relative;
	width:100%;
	height: 50px;
	background-color:#1e1e1e;
}

#lnbmenu{
	width:600px;
	height: 100%;
	margin:0 auto;
}
#lnbmenu>li{
	width:25%;
	height: 100%;
	text-align: center;
/*	outline:1px solid red;*/
	
}
#lnbmenu>li>a{
	position: relative;
	display: inline-block;
	line-height: 50px;
	font-family: 'BRoboto';
	color:#fff;
}
#lnbmenu>li:hover a{
	color:#00aced;
}
#lnbmenu>li:hover span{
	position: absolute;
	display: block;
	width: 100%;
	height:4px;
	bottom:0px;
	background-color:#00aced;
}
.selsub>span{
	position: absolute;
	display: block;
	width: 100%;
	height:4px;
	bottom:0px;
	background-color:#00aced;
}

.selsub{
	color:#00aced !important;
}




/*회사정보영역*/
#info{
	position:relative;
	width:100%;
	height:70px;
	background-color:#2e2e2e;
}

/*셀렉트박스 디자인*/
#info #select{
	position:absolute;
	width:150px;
	height:25px;
	background-color:#3F3F3F;
	border:0.5px solid #ccc;
	left:5%;
	top:20px;
}
#info #select label {
    position: absolute;
    font-size: 12px;
    color:#f3f3f3;
    top: 3px;
    left: 12px;
    letter-spacing: 1px;
}
#info #select #family{
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding:0 10px;
    opacity:0;
}
#info #select #family>option{
	font-size:12px;
}



/*주소*/
#info>address{
	position:absolute;
	width:30%;
	top:50%;
	left:50%;
	text-align: center;
	transform:translate(-50%,-50%);
	font:normal 12px NBG;
	color:#fff;
}
#info>ul{
	position:absolute;
	width:27%;
	top:50%;
	transform:translateY(-50%);
	right:2%;
}
#info>ul>li{
	width:16.66%;
	text-align: center;
	font:normal 13px NBG;
}
#info>ul>li>a{
	color:#fff;
}

#info #flag{
	position:absolute;
	width:200px;
	height: 40px;	
	top:12%;
	left:50%;
	transform:translateX(-50%);
	display:none;
}
#flag>li{
	width:33.33%;
	height: 100%;
	text-align: center;
}
#flag>li>a{
	display:block;
	widows: 100%;
	height: 100%;
}
#flag>li>a>img{
	height: 100%;
}


/*맨위로 이동,top버튼*/
#tbtn{
	position:fixed;
	width:50px;
	height:50px;
	bottom:5%;
	right:3%;
	border:none;
/*	display:none;*/
	cursor:pointer;
	outline:none;/*크롬에 기본으로 생기는 아웃라인 없애기*/
	background-color:transparent;
}
#tbtn::before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:0.5;
	border-radius:50%;
}
#tbtn>span{
	display:block;
	position:absolute;
	width:33px;
	height:36px;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
	background:url(../images/icon_top.png) no-repeat;
	background-position: bottom;
/*	outline:1px solid blue;*/
}
#tbtn:hover span{
	background-position:top;
}








