@charset "utf-8";
/* CSS 미디어쿼리 */
@media only screen and (min-width:1024px){

	.mbtn:hover{
		animation: neon 1.5s ease-in-out infinite alternate;
		background-color:#fff;
	}
	
	.mbtn:hover a{
		color:#00aced;
		font-weight: bold;
	}

	/*hover효과*/
	@-webkit-keyframes neon {
	  from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00aced, 0 0 70px #00aced, 0 0 80px #00aced, 0 0 100px #00aced, 0 0 150px #00aced;
	  }/*from*/
	  to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00aced, 0 0 35px #00aced, 0 0 40px #00aced, 0 0 50px #00aced, 0 0 75px #00aced;
	  }/*to*/
	}/*animation*/

}/*min-width:1024*/


/*태블릿 사이즈 디자인*/
@media only screen and (max-width:1024px){

	/*메인이미지영역*/
	#mimage>.back1{
		background:url(../images/mobbg.jpg) no-repeat center/cover !important;
	}
	#mimage>.back2{
		display:none;
	}
	/*gnb메뉴 글자크기 변경*/
	#menu>ul:first-of-type>li ul.lnbm{
	left:50%;
	width:45%;
	}
	#menu>ul:first-of-type>li ul.lnbm>li{
		font-size:0.9em;
	}
	/*영상 없애기*/
	#mainav{
		display:none;
	}
	/*버튼위치 조정*/
	.mbtn{
		left:50% !important;
		bottom:15% !important;
		transform: translateX(-50%);
	}
	
	/*버튼디자인변경

	.mbtn{
		background-color:#fff;
	}
	.mbtn>a{
		color:#00aced !important;
		font-weight: bold;
	}
	*/
	
	/*회사정보영역 조정*/
	
	#info{
	height:100px;/*높이조절*/
}
	
	/*셀렉트박스 디자인*/
#info #select{
	position:absolute;
	width:150px;
	height:25px;
	background-color:#3F3F3F;
	border:0.5px solid #ccc;
	left:5%;
	top:40px;
}
	
	
#info>ul{
	position:absolute;
	width:30%;
	top:50%;
	transform:translateY(-50%);
	right:2%;
}
#info>ul>li{
	width:33.33%;
	text-align: center;
	padding-top:5%;
	font:normal 12px NBG;
}
	
	
	
	
	
	
}/*미디어쿼리 1020픽셀*/

/*미디어쿼리리 768*/
@media only screen and (max-width:768px){
	
	/*햄버거버튼 폭 조절하기*/
	#hambox{
		width:80px;
	}
	/*패럴렉스를 일반 이미지로 변경*/
	#main1>div{/*패럴렉스 이미지*/
	position:relative;
	width:40% !important;
	height:70% !important;
	top:30%;
	left:5%;
	background:url(../images/mainswimmob.png) no-repeat !important;
	background-size:100% !important;
	}
	

	#main3>div:first-of-type{
		position:absolute;
		width:45% !important;
/*		height:40% !important;*/
		top:0%;
		left:0%;
		background:url(../images/maincont03.jpg) no-repeat 0 0/100% !important;
	}
	#main3>div:last-of-type{
		position:absolute;
		width:45% !important;
/*		height:40% !important;*/
		top:30%;
		right:0%;
		background:url(../images/maincont03-1.jpg) no-repeat 0 0/100% !important;
	}
	
	
	/*메인이미지 영역 글자크기 변경*/
	#mimage>div:nth-of-type(3){
    top:40% !important;
	}
	#mimage>div:nth-of-type(3)>p{
		font:3.4em BRoboto !important;
		text-align:center;
	}
	#mimage>div:nth-of-type(3)>p:last-child{
		font-size:1.5em !important;
	}
	
	
	/*메인페이지 컨텐츠 공통*/
	.mtit{
		font:2.5em BRoboto !important;
		top:10% !important;
		left:50% !important;
		transform:translateX(-50%) !important;
	}
	.mtxt{
		width:80%;
		font:1em BRoboto !important;
/*		top:45% !important;*/
		left:50% !important;
		transform:translateX(-50%) !important;
	}
	.mbtn{
		position:absolute;
		width:120px !important;
		height:40px !important;
		font-size:1.2em !important;
		bottom:20% !important;
	}
	.mbtn>a{
		line-height: 40px !important;
	}
	
	/*1번컨텐츠페이지 패럴렉스 숨기기, 로고배경 가운데보내기*/
	.parall1{
		display:none;
	}
	#main1::before{	
		content:"";
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0 !important;
		background:url(../images/logo_white.png) no-repeat 0% 50%/100% !important;
		opacity:.3;
	}

	/*메인컨텐츠3페이지 이미지, 텍스트 위치 조절하기*/
	
		/*메인3 타이틀디자인*/
		#main3>.mtit{
			top:10% !important;
			left:75% !important;
		}
		/*메인3 내용디자인*/
		#main3>.mtxt{
			left:30% !important;
			
		}
	
	#info{
	height:250px !important;/*높이조절*/
	}

		/*셀렉트박스 디자인*/
	#info #select{
		display:none;
	}
	/*국기아이콘 보이기*/
	#info #flag{
		display:block;
	}
	/*주소*/
	#info>address{
		position:absolute;
		width:90%;
		top:50%;
		left:50%;
		text-align: center;
		transform:translate(-50%,-50%);
		font:normal 12px NBG;
		color:#fff;
	}

	#info>ul{
		position:absolute;
		width:80%;
		height: auto;
		left:50% !important;
		top:65%;
		transform:translateX(-50%)!important;
	}
	#info>ul>li{
		width:33.33%;
		text-align: center;
		padding-top:5%;
		font:normal 12px NBG;
	}
	
	
	
	
}/*미디어쿼리 768*/

/*아이폰6플러스에서 메뉴바 돋보기 없애고 로그인위치조정*/
@media only screen and (max-width:414px){
	/*검색박스 디자인*/
	#navbox>div{
		display:none;
	}
	
	/*로그인*/
	#navbox>a:last-child{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:10% !important;
    width:20px;
	font:1em Broboto;
	letter-spacing: 1px;
	color:#fff;
	}
	
	
		/*메인3 타이틀디자인*/
		#main3>.mtit{
			top:0% !important;
			left:50% !important;
		}
		/*메인3 내용디자인*/
		#main3>.mtxt{
			left:30% !important;
			
		}
	
		#main3>div:first-of-type{
			position:absolute;
			width:50% !important;
	/*		height:40% !important;*/
			top:8%;
			left:0%;
			background:url(../images/maincont03.jpg) no-repeat 0 0/100% !important;
		}
		#main3>div:last-of-type{
			position:absolute;
			width:50% !important;
	/*		height:40% !important;*/
			top:30%;
			right:0%;
			background:url(../images/maincont03-1.jpg) no-repeat 0 0/100% !important;
		}
	
	
}/*아이폰6플러스 width 414px*/








/*미디어 쿼리 375*/
@media only screen and (max-width:375px){
	
	/*메인이미지 영역 글자크기 변경*/
	#mimage>div:nth-of-type(3){
    top:50% !important;
	}
	#mimage>div:nth-of-type(3)>p{
		font:2.3em BRoboto !important;
		text-align:center;
	}
	#mimage>div:nth-of-type(3)>p:last-child{
		font-size:1.1em !important;
	}
	
	
	
	
	
	/*타이틀,메뉴박스 디자인*/
	#navbox{
		position:relative;
		width:100%;
		height:55px;
		margin-top:-55px;
		background-color:#000;
		z-index:9;/*메뉴 순위 높여주기*/
	}
	/*햄버거박스 높이값 조절*/
	#hambox{
		height: 55px;
	}
	
	/*아레나 로고 디자인*/
	#navbox>a:nth-child(1){
	position:absolute;
	width:68px;
	top:2px;
	left:50%;
	transform:translateX(-50%);
}
	
	/*검색박스 디자인*/
	#navbox>div{
		display:none;
	}
	
	/*로그인*/
	#navbox>a:last-child{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:8% !important;
    width:20px;
	font:0.8em Broboto;
	letter-spacing: 1px;
	color:#fff;
	}
	
	/*메인컨텐츠3페이지 이미지, 텍스트 위치 조절하기*/
	
		/*메인3 타이틀디자인*/
		#main3>.mtit{
			top:0% !important;
			left:50% !important;
		}
		/*메인3 내용디자인*/
		#main3>.mtxt{
			left:30% !important;
			
		}
	
		#main3>div:first-of-type{
			position:absolute;
			width:50% !important;
	/*		height:40% !important;*/
			top:8%;
			left:0%;
			background:url(../images/maincont03.jpg) no-repeat 0 0/100% !important;
		}
		#main3>div:last-of-type{
			position:absolute;
			width:50% !important;
	/*		height:40% !important;*/
			top:30%;
			right:0%;
			background:url(../images/maincont03-1.jpg) no-repeat 0 0/100% !important;
		}
	
	.mtxt{
		font-size:0.7em !important;
	}
	
	
}/*미디어쿼리 375*/










































