@charset "utf-8";
@import url(../css/subcommon.css);
@import url(../css/core.css);
/* CSS menpage*/

/*남성의류 타이틀이미지영역*/
#mencont{
	position:relative;
	width:100%;
	padding-bottom:250px;
	background:url(../sub/subimages/menbg.jpg) no-repeat bottom/cover;
}
#mencont>div{
	position:relative;
	width:100%;

	height: 300px;	background:url(../sub/subimages/mentit.jpg) no-repeat  right/cover;
/*	z-index:99;*/

}
#mencont>div>h1{
	position:absolute;
	top:50%;
	left:5%;
	transform:translateY(-50%);
	font:2.5em 'BRoboto';
	color:#fff;
}

/*실제 컨텐츠영역*/

#menwear{
	position:relative;
	width:90%;
	margin:0 auto;
	margin-top:50px;
}
#menwear>li{
	position:relative;
	width:100%;
	height: 400px;
	padding:100px 0;
/*	outline:1px solid red;*/
}
/*컨텐츠영역 안 li박스*/
#menwear>li>div{
	position:relative;
	width:50%;
	height: 100%;
/*	outline:1px solid lime;*/
	float:left;
}


.mentxt{
	top:30%;
	opacity:0;
}
.menimg{
	top:18%;
	opacity:.3;
}
/*컨텐츠 영역 안 텍스트 디자인*/
.mentxt>h3{
	position:absolute;
	top:50px;
	left:50%;
	width:300px;
	text-align: center;
	transform:translateX(-50%);
	font:bold 2.5em 'NGEB';
	color:#021830;
/*	outline:1px solid red;*/
}
.mentxt>h6{
	position:absolute;
	top:135px;
	left:50%;
	transform:translateX(-50%);
	font:bold 1.3em 'NGEB';
	color:#00aced;
	text-align: center;
}
/*소제목 밑줄*/
.mentxt>h6::after{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height: 3px;
	bottom:-10px;
	background-color:#00aced;
}
.mentxt>p{
	position:absolute;
	width:75%;
	left:50%;
	top:250px;
	font:bold 1.1em 'NGEB';
	transform:translateX(-50%);
	text-align: center;
}

/*이미지박스*/
.menimg1{
	background:url(../sub/subimages/men01.jpg) no-repeat center/cover;
}
.menimg2{
	background:url(../sub/subimages/men02.jpg) no-repeat center/cover;
}
.menimg3{
	background:url(../sub/subimages/men03.jpg) no-repeat center/cover;
}
.menimg4{
	background:url(../sub/subimages/men04.jpg) no-repeat center/cover;
}
.menbtn{
	position:absolute;
	width:250px;
	height: 70px;
	display:block;
	top:50%;
	left:50%;
	text-align: center;
	transform:translate(-50%,-50%);
	border:2px solid #ff553f;
	box-sizing:border-box;
	background-color:transparent;
	cursor:pointer;
/*	transition:all .4;*/
}
.menbtn>a{
	font:bold 1.1em 'NGEB';
	line-height: 70px;
	padding-right:20px;
}
.menbtn>a::after{
	content:"";
	display:block;
	position:absolute;
	width:25px;
	height: 25px;
	top:50%;
	transform:translateY(-38%);
	right:15px;
	background:url(../sub/subimages/arr.png) no-repeat 0 0/100%;
}
.menbtn>span{
	position:absolute;
	top:0;
	left:0;
	background:url(../sub/subimages/arrw.png) no-repeat center;
	width:100%;
	height: 100%;
	opacity:0;
}











