@charset "utf-8";
/* 메인페이지 디자인 */
@import url("core.css");

/******************************1. 상단메뉴***********************/

/*최상단*/
#top{
	position:relative;
	width:100%;
	height:153px;
	/*background-color:#1E62FF;*/
}
#top div:first-child{/*최상단메뉴줄*/
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:23px;
	background-color:#01253b;
}
/*최상단 메뉴줄 텍스트, 로그인줄*/
#top div:first-child ul{
	float:right;
	margin-right: 10px;
}
#top div:first-child ul li{
	position:relative;
	top:0;
}
#top div:first-child>ul>li>a{
	color:white;
	font-size: 10px;
	padding:3px;	
}
#top div:first-child>ul>li>a::after{/*글자사이 가상요소 만들기*/
	display:inline-block;
	content:"";
	vertical-align: middle;
	width:1px;
	height:10px;
	margin: 0 0px 0 5px;
	background-color:#fff;
}
#top div:first-child>ul>li:last-child>a::after{/*로그인뒤 가상요소 숨기기*/
	display:none;
}
#top div:first-child>ul>li:last-child>a{/*로그인 글씨색 바꾸기*/
	color:#FFE607;
}
/*로고*/
#top div:nth-child(2){
	position: absolute;
	top:23px;
	width:100%;
	height: 45px;
	background-color:#fff;
}

#top div:nth-child(2) img{
	position:absolute;
	top:3px;
	left:10px;
	width:85px;;
}

/*햄버거메뉴*/
#top>a{
	position:absolute;
	top:35px;
	right:25px;
	width:20px;
	height:20px;
}
#top>a>span{
	position:absolute;
	width:100%;
	height: 100%;
	background:url(../images/btn_nav_gnb.png) no-repeat 50% 50%/40px 40px;
}
#top>div:last-child{
	position:absolute;
	top:84px;
	width:100%;
	height:70px;
	background-color:#004b7b;
}

/*검색박스*/
#search{/*검색창 부모박스*/
	position:relative;
	width:100%;
	height:30px;
/*	margin:0 auto;*/
	/*outline:1px solid red;*/
}
#query{
	position:absolute;
/*	width:295px;*/
	height:30px;
	top:20px;
	left:15px;
	right:47px;
}
#query input{
	width:100%;
	height:30px;
	border-radius:2px;
	outline:1px solid #1D1D1D;
	border-style:none;
	line-height:30px;
	font-size:17px;
	padding:0 15px;
}
/*검색박스 돋보기*/
#search button{
	position:absolute;
	top:19px;
	right: 10px;
	width:35px;
	height:32px;
	background-color:#01253b;
	border:0;
	border-radius: 0 2px 2px 0;
}
#search button span{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	background:url(../images/srch_btn.png) no-repeat 11px 8px;
/*	outline:1px solid red;*/
}
/*************************************1-1 햄버거메뉴 클릭시 나오는 전체메뉴*********************
#hidham{/*전체메뉴
	position:absolute;
	top:23px;
	right:0;
	width:210px;
	height: 100%;
	outline:1px solid red;
}
#hidham>div:first-child{
	width:100%;
	height: 44px;
	background-color: #3980a8;
	text-align: center;
}
#hidham>div:first-child>span:first-child{
	font-size: 20px;
	line-height: 44px;
	color:#fff;
	font-weight: 500;
}
#hidham>div:first-child>span:last-child{/*햄버거메뉴
	position:absolute;
	top:10px;
	right:30px;
	width:20px;
	height:20px;
}
#hidham>div:first-child>span:last-child>a{
	position:absolute;
	width:100%;
	height: 100%;
	background:url(../images/btn_nav_gnb.png) no-repeat 50% 50%/40px 40px;
}
*/



/*******************2. 서비스더보기***********************/
#navi{
	position:relative;
	width:100%;
	height:45px;
	background-color:#EC6600;
}
#navi>span:first-child{/*업무안내 타이틀*/
	display:block;
	position:absolute;
	top:10px;
	left:25px;
/*	outline:1px solid red;*/
}
#navi>span:first-child>a{
	font-size:20px;
	font-weight: 500;
	line-height: 25px;
	color:#fff;
}

#navi>span:nth-child(2){/*더보기버튼*/
	position:absolute;
	top:18px;
	right:20px;
	display: block;
	width:10px;
	height:10px;
	background:url(../images/icon_plus.png) no-repeat;
/*	outline:1px solid red;*/
}
#navi>span:nth-child(3){/*마이너스버튼 2-1 서비스메뉴 클릭하면 이게 보여야함!*/
	position:absolute;
	top:18px;
	right:20px;
	display: block;
	display:none;
	width:10px;
	height:10px;
	background:url(../images/icon_minus.png) no-repeat;
/*	outline:1px solid red;*/
}

/*****************************2-1. 서비스 더보기 숨겨진 메뉴***************************/

#hidmenu{/*숨김메뉴 전체박스*/
	position:relative;
	width:100%;
	/*height:338px;*************클릭하면 나타나게 설정!*******************/
	overflow: hidden;
	background-color:#fff;
}
#hidmenu>div>span:first-child{
	display:block;
	position:absolute;
	top:13px;
	left:25px;
	right:25px;
	height:67px;
	border: 1px solid #dcdcdc;
	background-color:#f8f8f8;
}
#hidmenu>div>span:first-child>a{
	display:inline-block;
	width:44%;
	margin-left:10px;
	font-size:13px;
	line-height:33px;
/*	outline:1px solid red;*/
}
#hidmenu>div>span:last-child{/*숨김메뉴속 아이콘메뉴박스*/
	display: block;
	position:absolute;
	bottom:13px;
	left:25px;
	right: 25px;
	height: 232px;
/*	outline:1px solid red;*/
}
#hidmenu>div>span:last-child>span{/*텍스트아이콘메뉴공통*/
	display:block;
	position:relative;
	width:100%;
	height:35px;
	margin-top:3px;
	background-color:#3980a8;
	border-radius: 3px;
}
#hidmenu>div>span:last-child>span>a:first-child{/*글씨설정*/
	font-size:13px;
	line-height: 35px;
	color:#fff;
	margin-left:10px;
}

#hidmenu>div>span:last-child>span>a:last-child{/*텍스트아이콘메뉴 삼각화살표*/
	display:inline-block;
	position:absolute;
	width:15px;
	height:15px;
	top:10px;
	right:10px;
	background:url(../images/goicon.png) no-repeat 0 0/15px 15px;
/*	outline:1px solid red;*/
}

/**********************3. 코픽뉴스*************************/

/*뉴스전체박스*/
#news{
	position:relative;
	width:100%;
	height:360px;
	background-color:#f9f9f9;
}
#news>div{
	position: relative;
	padding:20px 25px;
}
#news>div>a{/*더보기 버튼*/
	position:absolute;
	top:20px;
	right:20px;
	width:14px;
	height: 14px;
	background:#c3c3c3 url(../images/icon_plus.png) no-repeat 2px 50%;
/*	outline:1px solid red;*/
}
#news>div>h3{/*뉴스박스 제목*/
	font-size:20px;
	font-weight:600;
}
#news>div>h3>em{
	font-style: normal;
	color:#004b7b;
}

#news>div>ul{/*뉴스  ul 전체박스*/
	position: relative;
	width:100%;
/*	overflow: hidden;*/
/*	outline:1px solid blue;*/
}

#news>div>ul>li{/*각 뉴스 li 설정*/
	position: relative;
	width:100%;
	height:82px;
	margin:8px 0;
	padding:2px 0;
	border-bottom:1px dotted #a7a7a7;
/*	outline:1px solid lime;*/
}
#news>div>ul>li:last-child{
	border:none;
}


#news>div>ul>li img{/*뉴스사진 설정*/
	width:113px;
	height:75px;
}
#news>div>ul>li>div{/*기사문단 박스설정*/
	position:absolute;
	top:0;
/*	right:0px;*/
	left:120px;
	right: 0;
/*	width:60%;*/
/*	height:100%;*/
/*	outline:1px solid red;*/
}
#news>div>ul>li>div p{/*기사문단 내용설정*/
	width:95%;
	font-size:13px;
	font-weight: 600;
	line-height: 18px;
/*	width:100%;*/
/*	height: 100%;*/
	word-break: break-all;
	overflow:hidden;
	text-overflow: ellipsis;	
	display: -webkit-box;/*여러줄 생략 처리*/
	-webkit-line-clamp:2;/*처리할 줄 수*/
	-webkit-box-orient:vertical;/*처리할 박스 방향*/
	padding:3px;
/*	outline:1px solid yellow;*/
}

#news>div>ul>li>div>p:last-child{/*두번째 문단 설정*/
	font-size:11px;
	font-weight:200;
	color:#666;
	line-height: 15px;
}
/*************************4. 코픽알림***********************/
#noti{/*공지전체박스*/
	position:relative;
	width:100%;
	height:402px;
	background-color:#fff;
}
#noti>div{
	position:relative;
	padding:20px 25px;
/*	outline:1px solid blue;*/
}
#noti>div>a{/*코픽알림 더보기 버튼*/
	position:absolute;
	top:25px;
	right:25px;
	display:block;
/*	outline:1px solid red;*/
	width:14px;
	height:14px;
	background:#c3c3c3 url(../images/icon_plus.png) no-repeat 2px 50%;
}
#noti>div>h3{/*공지박스 제목*/
	font-size:20px;
	font-weight:600;
}
#noti>div>h3>em{
	font-style: normal;
	color:#004b7b;
}

/*공지 선택제목들*/
#title{
	margin-top:3px;
	left:45px;
	width:100%;
	height: 28px;
/*	outline:1px solid red;*/
	text-align: center;
}
#title>span{
	padding:0 3px;
	border-left:1px solid #c5c5c5;
	font-size:14px;
}
#title>span:first-child{
	border:none;
}
#title>span>a{
	color:#666;
	font-weight: 600;
}
#title>span:first-child>a:first-child{
	color:#265d86;
	font-weight: 600;
}

#realnoti{/*실제 공지내용 리스트*/
	position:relative;
	width:100%;
	height: 100%;
	overflow: hidden;
/*	outline:1px solid blue;*/
}

#realnoti>ul>li{
	padding:7px 0;
/*	margin:9px 0;*/
	width:100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
#realnoti>ul>li>a{
	width:100%;
	height:100%;
	font-size:13px;
	font-weight: 600;
	color:#666;
	padding-left: 6px;
   background: url(../images/bullet_service.gif) no-repeat 0 50%;
/*	outline:1px solid orange;*/
}


/******************************5. 박스오피스************************/
#box{
	position:relative;
	width:100%;
	height:223px;
	background-color:#004b7b;
}
#box>div:first-child{/*박스오피스 타이틀 디자인 공통*/
	position:absolute;
	top:10px;
	left:20px;
}
#box h1,em{
	font-size:20px;
	font-weight:800;
	color:#f29503;
	white-space: nowrap;
}
#box em{
	font-style: normal;
	color:#fff
}

#box>div:nth-child(2){/*일일주말 더보기 전체박스*/
	position:absolute;
	top:10px;
	right:20px;
	width:100px;
	height:20px;
/*	outline:1px solid red;*/
	text-align: center;
}
#box>div:nth-child(2)>a{/*일일주말 더보기 글자*/
	font-size:12px;
	color:#f29503;
	padding-right:5px;
}

#box>div:nth-child(2)>a:nth-child(2){
	color:#fff;
}
#box>div:nth-child(2)>a:nth-child(2)::before{
	content:"";
	display:inline-block;
	width:1px;
	height: 13px;
	background-color:#fff;
	vertical-align: middle;
	margin-right: 5px;
}
#box>div:nth-child(2)>a:last-child{/*일일주말 더보기 버튼*/
	display:inline-block;
	position: absolute;
	width:10px;
	height:10px;
	top:5px;
	right:0;
	background:url(../images/icon_plus.png) no-repeat 0 0;
}

/*영화포스터 전체 박스*/

#boxcont{
	position:relative;
	top:50px;
	margin:0 auto;
	width:90%;
	height: 155px;
/*	outline:1px solid lime;*/
}
#boxcont>div:first-child>img{/*영화포스터*/
	position:absolute;
	width:105px;
	height: 155px;
}
#boxcont>div:first-child>span{/*영화포스터 랭킹아이콘*/
	position:absolute;
	width:30px;
	height:30px;
	background:url(../images/rank.png) no-repeat;
/*	outline:1px solid red;*/
}
#boxcont>div:last-child{/*영화순위리스트 전체박스*/
	position:absolute;
	top:0;
	right:0;
	width:63%;
	height: 100%;
/*	outline:1px solid blue;*/
}

/*영화 순위 내용 박스*/
#boxcont>div:last-child>ul{
	position:relative;
	margin-left:5px;
	float:left;
	height: 135px;
}
#boxcont>div:last-child>ul:first-child{
	width:15%;
/*	outline:1px solid red;*/
}
#boxcont>div:last-child>ul:nth-child(2){
	width:50%;
/*	outline:1px solid red;*/
}
#boxcont>div:last-child>ul:nth-child(3){
	width:25%;
/*	outline:1px solid red;*/
}


/*영화순위 내용 li 디자인*/
#boxcont>div>ul>li{
	width:100%;
	text-align: left;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	padding:3px 0;
	color:#fff;
}
#boxcont>div:last-child>ul:first-child>li{/*첫번째 ul 순위아이콘 디자인*/
	position:relative;
	top:3px;
	margin:3px 5px;
	width:100%;
	height:15px;
	
}
#boxcont>div:last-child>ul:first-child>li>span{
	position: absolute;
	top:-2px;
	display:block;
	width:15px;
	height:15px;
	font-size:11px;
	font-weight: 600;
	text-align: center;
	color:#2D2D2D;
	background:url(../images/movrank.png) no-repeat 0 0/15px 15px;
	
}
#boxcont>div>ul>li a{
	font-size:13px;
	color:#fff;
	font-weight: 100;
}

#boxcont>div:last-child>span{/*박스오피스 기간*/
	display:block;
/*	position:relative;*/
	width:170px;
	font-size:10px;
	color:#fff;
	margin:0 auto;
	/*top:50%;
	left:50%;
	transform: translate(-50%, -50%);*/
}
/*****************************6. 아이콘메뉴*****************************/
#icon{/*아이콘전체박스*/
	position:relative;
	width:100%;
	height:380px;
	background-color:#f9f9f9;
/*	outline:1px solid green;*/
}
#icon>div{
	position: relative;
	padding:15px 10px;
}
#icon>div>ul{
	position:relative;
	width:100%;
	height:100%;
	
}
#icon>div>ul>li{
	position:relative;
	width:33.3%;
	height:33.3%;
	text-align: center;
	overflow: hidden;
/*	outline:1px solid red;*/
}
/*아이콘 배경화면 작은박스*/
#icon>div>ul>li>a{
	position:relative;
	display:block;
	width:71px;
	height:71px;
	margin-top:20px;/*가운데 오도록 맞추기*/
	left: 50%;
   transform: translateX(-50%);
/*	outline:1px solid blue;*/
}

/*아이콘 배경화면넣기*/
#icon>div>ul>li:first-child>a{
	background:url(../images/main.png) no-repeat 0 0/278px 332px;
}
#icon>div>ul>li:nth-child(2)>a{
	background:url(../images/main.png) no-repeat -103px 0px/278px 332px;
}

#icon>div>ul>li:nth-child(3)>a{
	background:url(../images/main.png) no-repeat -208px 0/278px 332px;
}

#icon>div>ul>li:nth-child(4)>a{
	background:url(../images/main.png) no-repeat 0px  -117px/278px 332px;
}

#icon>div>ul>li:nth-child(5)>a{
	background:url(../images/main.png) no-repeat -103px -117px/278px 332px;
}

#icon>div>ul>li:nth-child(6)>a{
	background:url(../images/main.png) no-repeat -208px -117px/278px 332px;
}

#icon>div>ul>li:nth-child(7)>a{
	background:url(../images/main.png) no-repeat 0 -236px/278px 332px;
}
#icon>div>ul>li:nth-child(8)>a{
	background:url(../images/main.png) no-repeat -103px -236px/278px 332px;
}

#icon>div>ul>li:last-child>a{
	background:url(../images/main.png) no-repeat -208px -236px/278px 332px;
}

/*아이콘 제목*/
#icon>div>ul>li>span{
	position:relative;
	display: block;
/*	white-space: nowrap;*/
	text-align: center;
	font-size:13px;
	font-weight: 600;
	
/*	outline:1px solid lime;*/
	
}


/*****************************7. 광고*****************************/
#ad{
	position:relative;
	width:100%;
	background-color:#C3C800;
}
#ad img{/*광고이미지*/
	width:100%;
	vertical-align: bottom;/*이미지간극없애기*/
}
/*****************************8. 트위터*****************************/
#sns{
	position: relative;
	width: 100%;
	background-color:#578AFF;
}
#sns>img{
	width:100%;
	vertical-align: bottom;
}

/*****************************9. 하단정보*****************************/
#footer{/*하단정보 전체박스*/
	position: relative;
	width:100%;
	height:300px;
	background-color:#333333;
}
#family{/*패밀리사이트 버튼*/
	position:relative;
	margin:0 auto;
	width:90%;
	height: 45px;
	background-color:#414141;
}
#family>a{
	position:absolute;
	width:90%;
/*	outline:1px solid red;*/
}
#family>a>span{
	font-size:20px;
	font-weight: 500;
	color:#fff;
	line-height: 45px;
/*	outline:1px solid blue;*/
	margin-left:10px;
}
#family>span{/*더보기버튼*/
	position:absolute;
	top:18px;
	right:20px;
	display:block;
	width:10px;
	height: 10px;
	background:url(../images/icon_plus.png) no-repeat 0 0;
/*	outline:1px solid red;*/
}
#footer>div:nth-child(2){/*안내링크 전체박스*/
	position:relative;
	margin:0 auto;
	margin-top:30px;
	width:90%;
	height:70px;
/*	outline:1px solid orange;*/
}
#footer>div:nth-child(2) p{
	font-size:14px;
	line-height:25px;
	text-align: center;
	padding-top:6px;
}
#footer>div:nth-child(2) p a{
	color:#fff;
	padding:3px;
}
#footer>div:nth-child(2) p a::after{/*글자사이에 가상요소 넣기*/
	content:"";
	display:inline-block;
	width:1px;
	height:13px;
	vertical-align: middle;
	background-color:#fff;
	margin: 0 0px 0 10px;
}
/*마지막 가상요소 없애기*/
#footer>div:nth-child(2) p:first-child>a:last-child::after{
	display:none;
}
#footer>div:nth-child(2) p:last-child>a:last-child::after{
	display:none;
}

/*주소 전체 박스*/
#footer>address{
	position:relative;
	width:90%;
	margin:0 auto;
	margin-top:15px;
	text-align: center;
	font-size:11px;
	color:#fff;
	font-style:normal;
/*	outline:1px solid lime;*/
}
#footer>address>span{/*전화번호*/
	display:block;
	margin-top:15px;
	font-size:18px;
	font-weight:blod;
}

#footer>span{
	display: block;
	width:90%;
	margin:0 auto;
	margin-top:10px;
	font-size:11px;
	color:#fff;
	text-align: center;
/*	outline:1px solid blue;*/
}
