@charset "UTF-8";
/* import/variable { */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #353535;
}
@media only screen and (max-width: 669px) {
  body {
    font-size: 14px;
  }
}
/*
//Font-size - all - with media query
.font-size-40----20()
.font-size-28----18()
.font-size-28----14()
.font-size-26----20()
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-24----16()
.font-size-22----14()
.font-size-20----14()
.font-size-16----14()
.font-size-22----16()
.font-size-20----16()
.font-size-18----16()
.font-size-18-14-14-14()
.font-size-18----14()
.font-size-18----12()
.font-size-17----12()
.font-size-16----14()
.font-size-16----12()
.font-size-14----12()
.font-size-12----10()

//그외 단일 폰트 사이즈
20px
16px
14px
12px

//중복 규격
h1
.font-size-28----18()
.font-size-24----18()
.font-size-26----20()
.font-size-h1-h2-user-text-section: 24px;

h2
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-20----16()
.font-size-18----16()
.font-size-14----12()
.font-size-h1-h2-user-text-section: 24px;
.font-size-invest-amount-h2(): 16px;

h2-small
.font-size-funding-view-detail-h2-small: 16px;
.font-size-preContest-h2-small: 14px;

h3
.font-size-funding-view-detail-questions-h3: 16px;
.font-size-24----16()
.font-size-18-14-14-14()
*/
h2 {
  font-size: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 1001px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
h2 small {
  font-size: 14px;
  margin-left: 16px;
  color: #9b9b9b;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  h2 small {
    display: none;
  }
}
/* } import/text-guide */
/* import/colorset { */
/* } import/colorset */
input::-webkit-input-placeholder {
  color: #e1e1e1;
}
/* } import/variable */
/* import/mixin { */
/* BUTTON STYLES */
/*    Button Styles    */
.post-write-btn {
  display: inline-block;
  color: #555555;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
.post-write-btn-white {
  display: inline-block;
  color: #292c33;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b8becc;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
/* 펀딩등록 버튼 */
/* WITH-ICON STYLES */
/*    withIcon Styles    */
/* FOLDABLE TABLE STYLES */
/*    Foldable-table Styles    */
.table-head-focused {
  background-color: #f4f4f4 !important;
}
.foldable-details {
  display: none;
}
/* ANIMATION STYLES */
/*    Animation Styles    */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn1000 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.fadeIn500 {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}
.fadeIn {
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*slideDown*/
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible !important;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* } import/mixin */
/* import/grid { */
.grid-row {
  overflow: auto;
  margin-left: -8px;
  margin-right: -8px;
}
.grid-row:after {
  content: '';
  clear: left;
}
.grid-1-1 {
  float: left;
  box-sizing: border-box;
  padding: 0 4px;
  width: 100%;
}
@media only screen and (max-width: 669px), only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  .grid-1-1 {
    width: 100%;
  }
}
.grid-1-2 {
  float: left;
  box-sizing: border-box;
  padding: 0 4px;
  width: 50%;
}
@media only screen and (max-width: 669px), only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  .grid-1-2 {
    width: 100%;
  }
}
.wrapper {
  overflow-x: hidden;
}
.clear {
  clear: both;
}
/* } import/grid */
header {
  position: relative;
  z-index: 11;
}
#header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
}
@media only screen and (max-width: 669px) {
  #header-menu {
    height: 55px;
  }
}
div.header-wrapper {
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  max-width: 1136px;
  width: 100%;
  box-sizing: border-box;
}
div.header-wrapper .neo-gnb {
  position: relative;
  height: 50px;
}
@media only screen and (max-width: 669px) {
  div.header-wrapper .neo-gnb {
    padding: 0 20px;
    z-index: 22;
  }
}
div.header-wrapper .neo-gnb h1 {
  display: inline-block;
  margin: 0;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
@media only screen and (max-width: 669px) {
  div.header-wrapper .neo-gnb h1 {
    display: block;
    text-align: center;
  }
}
div.header-wrapper .neo-gnb h1 .neospring-logo {
  display: inline-block;
  width: 102px;
  height: 24px;
  background: url(../img/ci/neospring-ci.svg) no-repeat center / 102px 24px;
  transform: translateY(45%);
  transition: all .3s;
}
@media only screen and (max-width: 669px) {
  div.header-wrapper .neo-gnb h1 .neospring-logo {
    opacity: 1;
    visibility: visible;
  }
  div.header-wrapper .neo-gnb h1 .neospring-logo.hide-logo {
    opacity: 0;
    visibility: hidden;
  }
}
div.header-wrapper .neo-gnb .open-fullnav-btn {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 669px) {
  div.header-wrapper .neo-gnb .open-fullnav-btn {
    display: inherit;
  }
}
div.header-wrapper .neo-gnb .open-fullnav-btn span.bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3d424d;
  transition: 3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition-duration: 500ms;
}
div.header-wrapper .neo-gnb .open-fullnav-btn span.bar:nth-child(1) {
  top: 2px;
  left: 0;
}
div.header-wrapper .neo-gnb .open-fullnav-btn span.bar:nth-child(2) {
  top: 9px;
  left: 0;
}
div.header-wrapper .neo-gnb .open-fullnav-btn span.bar:nth-child(3) {
  bottom: 2px;
  left: 0;
}
div.header-wrapper .neo-gnb .open-fullnav-btn.active span.bar:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}
div.header-wrapper .neo-gnb .open-fullnav-btn.active span.bar:nth-child(2) {
  transform: scale(0.1);
}
div.header-wrapper .neo-gnb .open-fullnav-btn.active span.bar:nth-child(3) {
  bottom: 9px;
  transform: rotate(-45deg);
}
div.header-wrapper .neo-gnb .web-menu-list {
  position: relative;
  display: inline-block;
  width: calc(100% - (102px + 80px));
  height: 100%;
  vertical-align: middle;
}
@media only screen and (max-width: 669px) {
  div.header-wrapper .neo-gnb .web-menu-list {
    display: none;
  }
}
div.header-wrapper .neo-gnb .web-menu-list ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
div.header-wrapper .neo-gnb .web-menu-list ul::after {
  content: "";
  display: block;
  clear: both;
}
div.header-wrapper .neo-gnb .web-menu-list ul.funding-menu {
  position: absolute;
  left: 0;
}
div.header-wrapper .neo-gnb .web-menu-list ul.funding-menu li a {
  font-weight: 600;
}
div.header-wrapper .neo-gnb .web-menu-list ul.funding-menu a.consult-btn {
  margin-left: 7px;
  padding: 3px 4px;
  display: inline-block;
  color: #e60073;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #e60073;
  border-radius: 4px;
  transition: all .3s;
}
div.header-wrapper .neo-gnb .web-menu-list ul.funding-menu a.consult-btn:hover {
  background-color: #e60073;
  color: #fff;
}
div.header-wrapper .neo-gnb .web-menu-list ul.common-menu {
  position: absolute;
  right: 0;
}
div.header-wrapper .neo-gnb .web-menu-list ul li {
  padding: 0 10px;
  float: left;
}
div.header-wrapper .neo-gnb .web-menu-list ul li a {
  color: #292c33;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-profile a {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(30%);
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti {
  position: relative;
}
@media only screen and (max-width: 669px) {
  div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti {
    display: none;
  }
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti.on-notification .noti-num {
  display: block;
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti.on-notification .notification-ico {
  animation: notificationBell 2s steps(90) 3;
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti .notification-bell {
  position: relative;
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti .notification-ico {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../img/icon/icon-notification-animation.png) no-repeat;
  background-position: 0 0;
  background-size: 2520px 100%;
  vertical-align: middle;
  transition: animation 2s steps(90);
}
div.header-wrapper .neo-gnb .web-menu-list ul li.user-noti .noti-num {
  display: none;
  position: absolute;
  top: 0px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  line-height: 1.6;
  background-color: #e60073;
  border-radius: 50%;
}
div.header-wrapper .neo-gnb .funding-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  background: url(../img/icon/icon-magnifier.png) no-repeat center / 100%;
  border: none;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}
div.fullnav {
  position: absolute;
  top: 60px;
  right: 0;
  width: 360px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dadde6;
}
@media only screen and (max-width: 669px) {
  div.fullnav {
    position: fixed;
    width: 0;
    height: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }
  div.fullnav.expand-delay {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  div.fullnav.expand .fullnav-circle-wrap {
    width: 1800px;
    height: 1800px;
    top: -670px;
    left: -670px;
    -webkit-transition: all 1000ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 1000ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 1000ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 1000ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 1000ms cubic-bezier(0, 0.995, 0.99, 1);
  }
  div.fullnav.expand div.fullnav-body {
    opacity: 1;
    visibility: visible;
  }
}
div.fullnav .fullnav-wrap {
  padding: 30px;
}
@media only screen and (max-width: 669px) {
  div.fullnav .fullnav-circle-wrap {
    z-index: 11;
    position: absolute;
    top: -28px;
    left: 12px;
    width: 0;
    height: 0;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 9;
    -webkit-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 600ms cubic-bezier(0, 0.995, 0.99, 1);
  }
}
@media only screen and (max-width: 669px) {
  div.fullnav div.fullnav-body {
    padding: 80px 40px 0;
    position: relative;
    opacity: 0;
    visibility: hidden;
    z-index: 22;
    -webkit-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
  }
}
div.fullnav div.fullnav-body .profile-wrap {
  margin-bottom: 20px;
  position: relative;
}
div.fullnav div.fullnav-body .profile-wrap .user-info {
  padding-left: 73px;
  position: relative;
}
div.fullnav div.fullnav-body .profile-wrap .user-info .profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.fullnav div.fullnav-body .profile-wrap .user-info p.user-text {
  color: #292c33;
  font-size: 17px;
  font-weight: 300;
}
div.fullnav div.fullnav-body .profile-wrap .user-info p.user-text strong {
  font-weight: 700;
}
div.fullnav div.fullnav-body .profile-wrap .user-info p {
  margin: 0;
  color: #8f98b3;
  font-size: 12px;
  font-weight: 300;
}
div.fullnav div.fullnav-body .profile-wrap .user-info a {
  padding-right: 18px;
  margin-bottom: 6px;
  display: inline-block;
  color: #292c33;
  font-size: 17px;
  font-weight: 600;
  background: url(../img/icon/icon-small-arrow-black.png) no-repeat;
  background-position: center right;
  background-size: 8px 14px;
}
div.fullnav div.fullnav-body .profile-wrap .func-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 0;
}
div.fullnav div.fullnav-body .profile-wrap .func-wrap::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
div.fullnav div.fullnav-body .profile-wrap .func-wrap a {
  display: inline-block;
  vertical-align: middle;
}
div.fullnav div.fullnav-body .profile-wrap .func-wrap a.register-btn {
  display: none;
  padding: 4px 6px;
  border: 1px solid #8f98b3;
}
div.fullnav div.fullnav-body .profile-wrap .func-wrap a.register-btn span {
  color: #6b7799;
  font-size: 12px;
  font-weight: 300;
}
@media only screen and (max-width: 669px) {
  div.fullnav div.fullnav-body .profile-wrap .func-wrap a.register-btn {
    display: inline-block;
  }
}
div.fullnav div.fullnav-body .profile-wrap .func-wrap a.user-set-btn {
  margin-left: 24px;
  width: 24px;
  height: 24px;
  background: url(../img/icon/icon-setup-blue.png) no-repeat center / 100%;
}
div.fullnav div.fullnav-body ul {
  margin: 0;
  padding: 6px 0;
  list-style: none;
  border-bottom: 1px solid #dadde6;
}
div.fullnav div.fullnav-body ul:last-child {
  border-bottom: 0;
}
div.fullnav div.fullnav-body ul::after {
  content: "";
  display: block;
  clear: both;
}
div.fullnav div.fullnav-body ul.mobile-menu {
  display: none;
}
div.fullnav div.fullnav-body ul li {
  padding: 8px 0;
}
div.fullnav div.fullnav-body ul li a {
  color: #292c33;
  font-size: 17px;
  font-weight: 300;
}
@media only screen and (max-width: 669px) {
  div.fullnav div.fullnav-body ul li.nav-label {
    display: block;
    padding: 10px 0;
  }
}
div.fullnav div.fullnav-body ul li.nav-label span {
  color: #8f98b3;
  font-size: 12px;
  font-weight: 300;
}
