@charset "UTF-8";
/* import/mixin { */
/* import/variable { */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #353535;
}
@media only screen and (max-width: 669px) {
  body {
    font-size: 14px;
  }
}
/*
//Font-size - all - with media query
.font-size-40----20()
.font-size-28----18()
.font-size-28----14()
.font-size-26----20()
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-24----16()
.font-size-22----14()
.font-size-20----14()
.font-size-16----14()
.font-size-22----16()
.font-size-20----16()
.font-size-18----16()
.font-size-18-14-14-14()
.font-size-18----14()
.font-size-18----12()
.font-size-17----12()
.font-size-16----14()
.font-size-16----12()
.font-size-14----12()
.font-size-12----10()

//그외 단일 폰트 사이즈
20px
16px
14px
12px

//중복 규격
h1
.font-size-28----18()
.font-size-24----18()
.font-size-26----20()
.font-size-h1-h2-user-text-section: 24px;

h2
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-20----16()
.font-size-18----16()
.font-size-14----12()
.font-size-h1-h2-user-text-section: 24px;
.font-size-invest-amount-h2(): 16px;

h2-small
.font-size-funding-view-detail-h2-small: 16px;
.font-size-preContest-h2-small: 14px;

h3
.font-size-funding-view-detail-questions-h3: 16px;
.font-size-24----16()
.font-size-18-14-14-14()
*/
h2 {
  font-size: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 1001px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
h2 small {
  font-size: 14px;
  margin-left: 16px;
  color: #8a8f99;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  h2 small {
    display: none;
  }
}
/* } import/text-guide */
/* import/colorset { */
/* } import/colorset */
input::-webkit-input-placeholder {
  color: #e1e1e1;
}
/* } import/variable */
/* BUTTON STYLES */
/*    Button Styles    */
.post-write-btn {
  display: inline-block;
  color: #292c33;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
.post-write-btn-white {
  display: inline-block;
  color: #292c33;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b8becc;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
/* 펀딩등록 버튼 */
/* WITH-ICON STYLES */
/*    withIcon Styles    */
/* FOLDABLE TABLE STYLES */
/*    Foldable-table Styles    */
.table-head-focused {
  background-color: #f4f4f4 !important;
}
.foldable-details {
  display: none;
}
/* ANIMATION STYLES */
/*    Animation Styles    */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn1000 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.fadeIn500 {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}
.fadeIn {
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*slideDown*/
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible !important;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* } import/mixin */
article > .container > .wrapper > section {
  margin-top: 32px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  article > .container > .wrapper > section {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px) {
  article > .container > .wrapper > section {
    padding: 0 10px;
  }
}
article > .container > .wrapper > a.transfer {
  margin: 0;
  margin-top: 20px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  article > .container > .wrapper > a.transfer {
    margin-left: 20px;
  }
}
article h2 {
  font-size: 18px;
  font-weight: 700;
  color: #292c33;
  margin: 0;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  article h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 669px) {
  article h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 669px) {
  article h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 669px) {
  article h2 small {
    display: none;
  }
}
article .overview,
article .overview-ing {
  width: 50%;
  padding-right: 4px;
  box-sizing: border-box;
  float: left;
  overflow: auto;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  article .overview,
  article .overview-ing {
    width: auto;
    padding-right: 0;
    float: none;
  }
}
article .overview dl,
article .overview-ing dl {
  margin: 0;
  padding: 64px 0;
  height: 221px;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  article .overview dl,
  article .overview-ing dl {
    padding: 16px;
    height: auto;
  }
}
article .overview dl dt,
article .overview-ing dl dt {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  line-height: 31px;
}
@media only screen and (max-width: 669px) {
  article .overview dl dt,
  article .overview-ing dl dt {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .overview dl dt,
  article .overview-ing dl dt {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .overview dl dt,
  article .overview-ing dl dt {
    float: left;
    line-height: 30px;
  }
}
article .overview dl dd,
article .overview-ing dl dd {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}
@media only screen and (max-width: 669px) {
  article .overview dl dd,
  article .overview-ing dl dd {
    font-size: 20px;
  }
}
@media only screen and (max-width: 669px) {
  article .overview dl dd,
  article .overview-ing dl dd {
    text-align: right;
    line-height: 30px;
  }
}
article .overview dl dd .unit,
article .overview-ing dl dd .unit {
  font-size: 15px;
  font-weight: 400;
}
article .overview .currentParticipant,
article .overview-ing .currentParticipant {
  width: 240px;
  padding-left: 48px;
  float: left;
  box-sizing: border-box;
  background-color: #e62e6b;
  color: #ffffff;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  article .overview .currentParticipant,
  article .overview-ing .currentParticipant {
    width: 275px;
  }
}
@media only screen and (max-width: 669px) {
  article .overview .currentParticipant,
  article .overview-ing .currentParticipant {
    /*, @ipad-pro*/
    width: auto;
    padding: 10px 16px;
    float: none;
  }
}
article .overview .currentParticipant dt,
article .overview-ing .currentParticipant dt {
  background: url(../img/contest/icon-profile.png) no-repeat 110px 0px;
}
@media only screen and (max-width: 669px) {
  article .overview .currentParticipant dt,
  article .overview-ing .currentParticipant dt {
    width: 100px;
    background-position: 77px 5px;
    background-size: 23px;
  }
}
article .overview .currentAmount,
article .overview-ing .currentAmount {
  margin-left: 240px;
  padding-left: 32px;
  background-color: #ffffff;
  color: #353535;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  article .overview .currentAmount,
  article .overview-ing .currentAmount {
    margin-left: 275px;
    padding-left: 80px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px) {
  article .overview .currentAmount,
  article .overview-ing .currentAmount {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 669px) {
  article .overview .currentAmount,
  article .overview-ing .currentAmount {
    margin-left: 0;
    padding: 10px 16px;
  }
}
article .overview .currentAmount dt,
article .overview-ing .currentAmount dt {
  background: url(../img/contest/icon-coin.png) no-repeat 110px 0px;
}
@media only screen and (max-width: 669px) {
  article .overview .currentAmount dt,
  article .overview-ing .currentAmount dt {
    width: 100px;
    background-position: 77px 5px;
    background-size: 23px;
  }
}
article .investment {
  width: 50%;
  margin-left: 50%;
  padding-left: 4px;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  article .investment {
    width: auto;
    margin-left: 0;
    padding-left: 0;
    float: none;
  }
}
article .investment + * {
  clear: left;
}
article .investment table {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 221px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  padding: 8px 14px;
  border-spacing: 16px 0px;
  border-collapse: separate;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  article .investment table {
    padding: 16px 70px;
  }
}
article .investment table th,
article .investment table td {
  padding: 8px 0;
}
article .investment table th {
  font-size: 14px;
  font-weight: 400;
  color: #b88869;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
article .investment table th.dateTime {
  width: 120px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  article .investment table th.investor {
    width: 140px;
  }
}
article .investment table th.invest {
  width: 200px;
}
article .investment table td {
  color: #292c33;
  font-size: 14px;
  margin-top: -16px;
  height: 56px;
  box-sizing: border-box;
}
article .investment table td .member-name {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 669px) {
  article .investment table td .member-name {
    border-right: 1px solid #9a9a9a;
    padding-right: 15px;
  }
}
article .investment table td .company-name {
  vertical-align: middle;
  color: #353535;
  font-weight: 400;
  margin-right: 8px;
  max-width: 89px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
article .investment table td .amount {
  vertical-align: middle;
  display: inline-block;
  max-width: 60px;
  float: right;
  margin-top: 10px;
}
@media only screen and (max-width: 669px) {
  article .investment table td .amount {
    margin-top: 0;
  }
}
article .investment table td .profile-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
article .investment table td .profile-image.company-logo {
  border: #e1e1e1;
}
@media only screen and (max-width: 669px) {
  article .investment table {
    border-spacing: 0;
  }
  article .investment table thead {
    display: none;
  }
  article .investment table tr:last-child td.funding {
    border-bottom: 0;
  }
  article .investment table td {
    display: block;
    height: auto;
    padding: 0;
    margin-top: 0;
    font-size: 14px;
  }
  article .investment table td.dateTime {
    padding: 8px 0;
    font-size: 12px;
    border-bottom: 0;
  }
  article .investment table td.member {
    float: left;
  }
  article .investment table td.funding {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    box-sizing: inherit;
    height: 40px;
    line-height: 14px;
  }
  article .investment table td.funding img {
    display: none;
  }
  article .investment table td.funding span.company-name {
    margin-left: 8px;
    border-left: #e1e1e1;
    padding-left: 8px;
    margin-top: 0;
  }
}
article .investment.reward-investment table tbody td.member {
  width: 120px;
  max-width: inherit;
}
article .investment.reward-investment table tbody td.funding span.amount {
  max-width: 70px;
}
article .ranking,
article .ranking-ing {
  overflow: auto;
}
article .ranking::after,
article .ranking-ing::after {
  content: "";
  clear: left;
}
article .ranking ol,
article .ranking-ing ol {
  margin-top: 0;
  padding-left: 0;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  article .ranking ol,
  article .ranking-ing ol {
    margin-bottom: 0;
  }
  article .ranking ol.preceding li:last-child,
  article .ranking-ing ol.preceding li:last-child {
    border-bottom-color: transparent;
  }
  article .ranking ol.succeeding li:first-child,
  article .ranking-ing ol.succeeding li:first-child {
    border-top-width: 0;
  }
}
article .ranking ol.preceding,
article .ranking-ing ol.preceding {
  width: 50%;
  padding-right: 4px;
  box-sizing: border-box;
  float: left;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  article .ranking ol.preceding,
  article .ranking-ing ol.preceding {
    width: auto;
    padding-right: 0;
    float: none;
  }
}
article .ranking ol.preceding li:first-child,
article .ranking-ing ol.preceding li:first-child {
  border: 1px solid #e60073;
}
article .ranking ol.preceding li:first-child .change,
article .ranking-ing ol.preceding li:first-child .change {
  border-color: #e60073;
}
article .ranking ol.succeeding,
article .ranking-ing ol.succeeding {
  width: 50%;
  margin-left: 50%;
  padding-left: 4px;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  article .ranking ol.succeeding,
  article .ranking-ing ol.succeeding {
    width: auto;
    margin-left: 0;
    padding-left: 0;
    float: none;
  }
}
article .ranking ol li,
article .ranking-ing ol li {
  background-color: #ffffff;
  list-style: none;
  -box-sizing: border-box;
  -height: 80px;
  height: 32px;
  padding: 24px;
  color: #292c33;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  article .ranking ol li,
  article .ranking-ing ol li {
    padding: 10px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li,
  article .ranking-ing ol li {
    padding: 5px;
  }
}
article .ranking ol li:last-child,
article .ranking-ing ol li:last-child {
  border-bottom-color: #e1e1e1;
}
article .ranking ol li:first-child,
article .ranking-ing ol li:first-child {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e1e1e1;
}
article .ranking ol li > *,
article .ranking-ing ol li > * {
  display: block;
  float: left;
  line-height: 32px;
  position: relative;
  z-index: 1;
}
article .ranking ol.preceding li:first-child .rank,
article .ranking-ing ol.preceding li:first-child .rank {
  font-size: 28px;
}
article .ranking ol.preceding li:first-child .company-name,
article .ranking-ing ol.preceding li:first-child .company-name {
  font-size: 24px;
}
article .ranking ol.preceding li:first-child .funding-title,
article .ranking-ing ol.preceding li:first-child .funding-title {
  font-size: 18px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  article .ranking ol.preceding li:first-child .rank,
  article .ranking-ing ol.preceding li:first-child .rank {
    font-size: 24px;
  }
  article .ranking ol.preceding li:first-child .company-name,
  article .ranking-ing ol.preceding li:first-child .company-name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol.preceding li:first-child .rank,
  article .ranking-ing ol.preceding li:first-child .rank {
    font-size: inherit;
  }
  article .ranking ol.preceding li:first-child .company-name,
  article .ranking-ing ol.preceding li:first-child .company-name {
    font-size: inherit;
  }
  article .ranking ol.preceding li:first-child .funding-title,
  article .ranking-ing ol.preceding li:first-child .funding-title {
    font-size: 12px;
  }
}
article .ranking ol li .company-infoarea,
article .ranking-ing ol li .company-infoarea {
  width: 90%;
}
article .ranking ol li .rank,
article .ranking-ing ol li .rank {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  line-height: 35px;
  color: #b88869;
  text-align: center;
  font-style: italic;
  width: 48px;
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .rank,
  article .ranking-ing ol li .rank {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .rank,
  article .ranking-ing ol li .rank {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px), only screen and (max-width: 669px) {
  article .ranking ol li .rank,
  article .ranking-ing ol li .rank {
    line-height: 32px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .rank,
  article .ranking-ing ol li .rank {
    width: 24px;
  }
}
article .ranking ol li .company-name,
article .ranking-ing ol li .company-name {
  font-weight: 700;
  float: left;
  margin-right: 8px;
  font-size: 16px;
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .company-name,
  article .ranking-ing ol li .company-name {
    font-weight: 400;
  }
}
article .ranking ol li .funding-title,
article .ranking-ing ol li .funding-title {
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #9b9b9b;
  padding-right: 30px;
  max-width: 280px;
  max-width: 240px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .funding-title,
  article .ranking-ing ol li .funding-title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .funding-title,
  article .ranking-ing ol li .funding-title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .funding-title,
  article .ranking-ing ol li .funding-title {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  article .ranking ol li .funding-title,
  article .ranking-ing ol li .funding-title {
    max-width: 360px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .funding-title,
  article .ranking-ing ol li .funding-title {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 45px;
  }
}
article .ranking ol li .change,
article .ranking-ing ol li .change {
  position: absolute;
  display: block;
  left: 24px;
  right: 24px;
  text-align: right;
  height: 56px;
  border-bottom: 1px solid #f4f4f4;
  z-index: 0;
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  article .ranking ol li .change,
  article .ranking-ing ol li .change {
    height: 42px;
  }
}
@media only screen and (max-width: 669px) {
  article .ranking ol li .change,
  article .ranking-ing ol li .change {
    font-size: 12px;
    height: 37px;
  }
}
article .ranking ol li .change .direction,
article .ranking-ing ol li .change .direction {
  font-size: 12px;
  margin-right: 4px;
}
article .ranking ol li .change.up,
article .ranking-ing ol li .change.up {
  font-weight: 400 !important;
  color: #e62e6b !important;
}
article .ranking ol li .change.down,
article .ranking-ing ol li .change.down {
  font-weight: 400 !important;
  color: #6666ff !important;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  article .ranking ol li .change .unit,
  article .ranking-ing ol li .change .unit {
    display: none;
  }
}
.achievement table,
.achievement-ing table {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  border-spacing: 24px 0px;
  border-collapse: separate;
  padding: 16px 0 32px 0;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  .achievement table,
  .achievement-ing table {
    padding: 20px 36px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table,
  .achievement-ing table {
    border-spacing: 0;
    padding: 16px 16px 16px 8px;
  }
}
.achievement table th,
.achievement-ing table th,
.achievement table td,
.achievement-ing table td {
  font-size: 14px;
  padding: 0;
  color: #292c33;
}
@media only screen and (max-width: 669px) {
  .achievement table th,
  .achievement-ing table th,
  .achievement table td,
  .achievement-ing table td {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table th,
  .achievement-ing table th,
  .achievement table td,
  .achievement-ing table td {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table th,
  .achievement-ing table th,
  .achievement table td,
  .achievement-ing table td {
    font-size: 12px;
  }
}
.achievement table th:first-child,
.achievement-ing table th:first-child,
.achievement table td:first-child,
.achievement-ing table td:first-child {
  width: 140px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  .achievement table th:first-child,
  .achievement-ing table th:first-child,
  .achievement table td:first-child,
  .achievement-ing table td:first-child {
    padding-left: 0;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table th:first-child,
  .achievement-ing table th:first-child,
  .achievement table td:first-child,
  .achievement-ing table td:first-child {
    padding-left: 0;
    max-width: 64px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 96px;
  }
}
.achievement table th:first-child .rank,
.achievement-ing table th:first-child .rank,
.achievement table td:first-child .rank,
.achievement-ing table td:first-child .rank {
  padding-right: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #b88869;
  text-align: center;
  font-style: italic;
}
@media only screen and (max-width: 669px) {
  .achievement table th:first-child .rank,
  .achievement-ing table th:first-child .rank,
  .achievement table td:first-child .rank,
  .achievement-ing table td:first-child .rank {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table th:first-child .rank,
  .achievement-ing table th:first-child .rank,
  .achievement table td:first-child .rank,
  .achievement-ing table td:first-child .rank {
    font-size: 14px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table th:first-child .rank,
  .achievement-ing table th:first-child .rank,
  .achievement table td:first-child .rank,
  .achievement-ing table td:first-child .rank {
    padding-right: 5px;
  }
}
.achievement table th,
.achievement-ing table th {
  position: relative;
  height: 36px;
}
.achievement table th.max-3 div.i-0,
.achievement-ing table th.max-3 div.i-0 {
  left: 0%;
}
.achievement table th.max-3 div.i-1,
.achievement-ing table th.max-3 div.i-1 {
  left: 33.33333333%;
}
.achievement table th.max-3 div.i-2,
.achievement-ing table th.max-3 div.i-2 {
  left: 66.66666667%;
}
.achievement table th.max-3 div.i-3,
.achievement-ing table th.max-3 div.i-3 {
  left: 100%;
}
.achievement table th.max-4 div.i-0,
.achievement-ing table th.max-4 div.i-0 {
  left: 0%;
}
.achievement table th.max-4 div.i-1,
.achievement-ing table th.max-4 div.i-1 {
  left: 25%;
}
.achievement table th.max-4 div.i-2,
.achievement-ing table th.max-4 div.i-2 {
  left: 50%;
}
.achievement table th.max-4 div.i-3,
.achievement-ing table th.max-4 div.i-3 {
  left: 75%;
}
.achievement table th.max-4 div.i-4,
.achievement-ing table th.max-4 div.i-4 {
  left: 100%;
}
.achievement table th.max-5 div.i-0,
.achievement-ing table th.max-5 div.i-0 {
  left: 0%;
}
.achievement table th.max-5 div.i-1,
.achievement-ing table th.max-5 div.i-1 {
  left: 20%;
}
.achievement table th.max-5 div.i-2,
.achievement-ing table th.max-5 div.i-2 {
  left: 40%;
}
.achievement table th.max-5 div.i-3,
.achievement-ing table th.max-5 div.i-3 {
  left: 60%;
}
.achievement table th.max-5 div.i-4,
.achievement-ing table th.max-5 div.i-4 {
  left: 80%;
}
.achievement table th.max-5 div.i-5,
.achievement-ing table th.max-5 div.i-5 {
  left: 100%;
}
.achievement table th.max-6 div.i-0,
.achievement-ing table th.max-6 div.i-0 {
  left: 0%;
}
.achievement table th.max-6 div.i-1,
.achievement-ing table th.max-6 div.i-1 {
  left: 16.66666667%;
}
.achievement table th.max-6 div.i-2,
.achievement-ing table th.max-6 div.i-2 {
  left: 33.33333333%;
}
.achievement table th.max-6 div.i-3,
.achievement-ing table th.max-6 div.i-3 {
  left: 50%;
}
.achievement table th.max-6 div.i-4,
.achievement-ing table th.max-6 div.i-4 {
  left: 66.66666667%;
}
.achievement table th.max-6 div.i-5,
.achievement-ing table th.max-6 div.i-5 {
  left: 83.33333333%;
}
.achievement table th.max-6 div.i-6,
.achievement-ing table th.max-6 div.i-6 {
  left: 100%;
}
.achievement table th.max-7 div.i-0,
.achievement-ing table th.max-7 div.i-0 {
  left: 0%;
}
.achievement table th.max-7 div.i-1,
.achievement-ing table th.max-7 div.i-1 {
  left: 14.28571429%;
}
.achievement table th.max-7 div.i-2,
.achievement-ing table th.max-7 div.i-2 {
  left: 28.57142857%;
}
.achievement table th.max-7 div.i-3,
.achievement-ing table th.max-7 div.i-3 {
  left: 42.85714286%;
}
.achievement table th.max-7 div.i-4,
.achievement-ing table th.max-7 div.i-4 {
  left: 57.14285714%;
}
.achievement table th.max-7 div.i-5,
.achievement-ing table th.max-7 div.i-5 {
  left: 71.42857143%;
}
.achievement table th.max-7 div.i-6,
.achievement-ing table th.max-7 div.i-6 {
  left: 85.71428571%;
}
.achievement table th.max-7 div.i-7,
.achievement-ing table th.max-7 div.i-7 {
  left: 100%;
}
.achievement table th.max-8 div.i-0,
.achievement-ing table th.max-8 div.i-0 {
  left: 0%;
}
.achievement table th.max-8 div.i-1,
.achievement-ing table th.max-8 div.i-1 {
  left: 12.5%;
}
.achievement table th.max-8 div.i-2,
.achievement-ing table th.max-8 div.i-2 {
  left: 25%;
}
.achievement table th.max-8 div.i-3,
.achievement-ing table th.max-8 div.i-3 {
  left: 37.5%;
}
.achievement table th.max-8 div.i-4,
.achievement-ing table th.max-8 div.i-4 {
  left: 50%;
}
.achievement table th.max-8 div.i-5,
.achievement-ing table th.max-8 div.i-5 {
  left: 62.5%;
}
.achievement table th.max-8 div.i-6,
.achievement-ing table th.max-8 div.i-6 {
  left: 75%;
}
.achievement table th.max-8 div.i-7,
.achievement-ing table th.max-8 div.i-7 {
  left: 87.5%;
}
.achievement table th.max-8 div.i-8,
.achievement-ing table th.max-8 div.i-8 {
  left: 100%;
}
.achievement table th.max-9 div.i-0,
.achievement-ing table th.max-9 div.i-0 {
  left: 0%;
}
.achievement table th.max-9 div.i-1,
.achievement-ing table th.max-9 div.i-1 {
  left: 11.11111111%;
}
.achievement table th.max-9 div.i-2,
.achievement-ing table th.max-9 div.i-2 {
  left: 22.22222222%;
}
.achievement table th.max-9 div.i-3,
.achievement-ing table th.max-9 div.i-3 {
  left: 33.33333333%;
}
.achievement table th.max-9 div.i-4,
.achievement-ing table th.max-9 div.i-4 {
  left: 44.44444444%;
}
.achievement table th.max-9 div.i-5,
.achievement-ing table th.max-9 div.i-5 {
  left: 55.55555556%;
}
.achievement table th.max-9 div.i-6,
.achievement-ing table th.max-9 div.i-6 {
  left: 66.66666667%;
}
.achievement table th.max-9 div.i-7,
.achievement-ing table th.max-9 div.i-7 {
  left: 77.77777778%;
}
.achievement table th.max-9 div.i-8,
.achievement-ing table th.max-9 div.i-8 {
  left: 88.88888889%;
}
.achievement table th.max-9 div.i-9,
.achievement-ing table th.max-9 div.i-9 {
  left: 100%;
}
.achievement table th.max-10 div.i-0,
.achievement-ing table th.max-10 div.i-0 {
  left: 0%;
}
.achievement table th.max-10 div.i-1,
.achievement-ing table th.max-10 div.i-1 {
  left: 10%;
}
.achievement table th.max-10 div.i-2,
.achievement-ing table th.max-10 div.i-2 {
  left: 20%;
}
.achievement table th.max-10 div.i-3,
.achievement-ing table th.max-10 div.i-3 {
  left: 30%;
}
.achievement table th.max-10 div.i-4,
.achievement-ing table th.max-10 div.i-4 {
  left: 40%;
}
.achievement table th.max-10 div.i-5,
.achievement-ing table th.max-10 div.i-5 {
  left: 50%;
}
.achievement table th.max-10 div.i-6,
.achievement-ing table th.max-10 div.i-6 {
  left: 60%;
}
.achievement table th.max-10 div.i-7,
.achievement-ing table th.max-10 div.i-7 {
  left: 70%;
}
.achievement table th.max-10 div.i-8,
.achievement-ing table th.max-10 div.i-8 {
  left: 80%;
}
.achievement table th.max-10 div.i-9,
.achievement-ing table th.max-10 div.i-9 {
  left: 90%;
}
.achievement table th.max-10 div.i-10,
.achievement-ing table th.max-10 div.i-10 {
  left: 100%;
}
.achievement table th div,
.achievement-ing table th div {
  position: absolute;
  top: 8px;
  font-weight: 400;
  width: 48px;
  height: 18px;
  text-align: center;
  margin-left: -24px;
  padding-bottom: 10px;
  background-image: url("../img/contest/arrow_red_down.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 669px) {
  .achievement table th div,
  .achievement-ing table th div {
    font-size: 12px;
    background-size: 7px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table th,
  .achievement-ing table th {
    display: none;
  }
}
.achievement table td,
.achievement-ing table td {
  height: 40px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  .achievement table td,
  .achievement-ing table td {
    padding-bottom: 22px;
  }
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  .achievement table td,
  .achievement-ing table td {
    height: 12px;
  }
}
.achievement table tbody tr:first-child .currentPercentage .amount,
.achievement-ing table tbody tr:first-child .currentPercentage .amount {
  color: #fff;
}
.achievement table tbody tr:first-child .currentPercentage .base,
.achievement-ing table tbody tr:first-child .currentPercentage .base {
  background-color: #e60073;
}
.achievement table tbody tr:first-child .currentPercentage .over,
.achievement-ing table tbody tr:first-child .currentPercentage .over {
  background-color: #cc0066;
}
.achievement table tbody tr:nth-child(2) .currentPercentage,
.achievement-ing table tbody tr:nth-child(2) .currentPercentage,
.achievement table tbody tr:nth-child(3) .currentPercentage,
.achievement-ing table tbody tr:nth-child(3) .currentPercentage {
  color: #fff;
}
.achievement table tbody tr:nth-child(2) .currentPercentage .amount,
.achievement-ing table tbody tr:nth-child(2) .currentPercentage .amount,
.achievement table tbody tr:nth-child(3) .currentPercentage .amount,
.achievement-ing table tbody tr:nth-child(3) .currentPercentage .amount {
  color: #fff;
}
.achievement table tbody tr:nth-child(2) .currentPercentage .base,
.achievement-ing table tbody tr:nth-child(2) .currentPercentage .base,
.achievement table tbody tr:nth-child(3) .currentPercentage .base,
.achievement-ing table tbody tr:nth-child(3) .currentPercentage .base {
  background-color: #e60073;
}
.achievement table tbody tr:nth-child(2) .currentPercentage .over,
.achievement-ing table tbody tr:nth-child(2) .currentPercentage .over,
.achievement table tbody tr:nth-child(3) .currentPercentage .over,
.achievement-ing table tbody tr:nth-child(3) .currentPercentage .over {
  background-color: #cc0066;
}
.achievement table .currentPercentage,
.achievement-ing table .currentPercentage {
  background-repeat: repeat-x;
  background-position: 0 15px;
  position: relative;
}
.achievement table .currentPercentage::before,
.achievement-ing table .currentPercentage::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  top: 15px;
  left: 0;
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage::before,
  .achievement-ing table .currentPercentage::before {
    top: 11px;
  }
}
.achievement table .currentPercentage .amount,
.achievement-ing table .currentPercentage .amount {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 18px;
  color: #292c33;
  margin-left: 8px;
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage .amount,
  .achievement-ing table .currentPercentage .amount {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage .amount,
  .achievement-ing table .currentPercentage .amount {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage .amount,
  .achievement-ing table .currentPercentage .amount {
    font-weight: 400;
  }
}
.achievement table .currentPercentage .bar,
.achievement-ing table .currentPercentage .bar {
  box-sizing: border-box;
  position: absolute;
  top: 25%;
  left: 0;
  overflow: hidden;
  height: 20px;
  z-index: 0;
  width: 0;
  transition: width 1s;
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage .bar,
  .achievement-ing table .currentPercentage .bar {
    height: 12px;
  }
}
.achievement table .currentPercentage .base,
.achievement-ing table .currentPercentage .base {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  float: left;
  background-color: #8f98b3;
  height: 20px;
  width: 0;
  transition: width 0s;
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage .base,
  .achievement-ing table .currentPercentage .base {
    height: 12px;
  }
}
.achievement table .currentPercentage .over,
.achievement-ing table .currentPercentage .over {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 0;
  border-left-width: 0;
  background-color: #7a8299;
  height: 20px;
  /*

        transition: width 0.5s;
        display: none;
        */
  transition: width 0s;
}
@media only screen and (max-width: 669px) {
  .achievement table .currentPercentage .over,
  .achievement-ing table .currentPercentage .over {
    height: 12px;
  }
}
.achievement table td:first-child {
  width: 160px;
}
.achievement table td:first-child .rank {
  display: inline-block;
  vertical-align: middle;
}
.achievement table td:first-child .company-name {
  display: inline-block;
  max-width: 120px;
  vertical-align: middle;
}
.trend > div,
.trend-ing > div {
  background-color: #ffffff;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding: 32px;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  .trend > div,
  .trend-ing > div {
    padding: 16px 12px 16px 4px;
  }
}
.winner-investor div.winner-list {
  box-sizing: border-box;
  padding: 32px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.05em;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  .winner-investor div.winner-list {
    padding: 32px 26px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px) {
  .winner-investor div.winner-list {
    padding: 32px 16px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor div.winner-list {
    padding: 32px 0;
  }
}
.winner-investor strong {
  color: #292c33;
  font-weight: 400;
}
.winner-investor div.notice {
  margin-bottom: 48px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 24px;
  color: #9b9b9b;
  line-height: 125%;
}
@media only screen and (max-width: 669px) {
  .winner-investor div.notice {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px) {
  .winner-investor div.notice {
    font-size: 18px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor div.notice {
    padding: 16px;
    margin-bottom: 32px;
    letter-spacing: -0.05em;
  }
}
.winner-investor div.notice span.contest-name {
  margin-right: 8px;
  color: #292c33;
  font-weight: 400;
}
.winner-investor div.notice span:last-of-type {
  color: #e60073;
  font-weight: 400;
}
.winner-investor ol {
  overflow: auto;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}
.winner-investor ol > li {
  margin-bottom: 64px;
  list-style: none;
  clear: both;
}
.winner-investor ol > li h3 {
  box-sizing: border-box;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  color: #292c33;
  background-color: #f4f4f4;
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li h3 {
    width: 95%;
    margin: 16px auto;
  }
}
.winner-investor ol > li h3 span:first-child {
  margin-right: 8px;
  padding-left: 24px;
  background: url("../img/deco/disc-main.svg");
  background-size: 8px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 16px;
  color: #e60073;
}
@media only screen and (max-width: 669px), only screen and (min-width: 670px) and (max-width: 1035px) {
  .winner-investor ol > li h3 span.mobile-hidden {
    display: none;
  }
}
.winner-investor ol > li > ul {
  padding-left: 24px;
}
.winner-investor ol > li > ul > li {
  float: left;
  width: 20%;
  margin-bottom: 8px;
  list-style: none;
  color: #9b9b9b;
  font-size: 16px;
  line-height: 16px;
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li > ul > li {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  .winner-investor ol > li > ul > li {
    width: 33.3333%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li > ul > li {
    width: 50%;
    margin-bottom: 16px;
  }
}
.winner-investor ol > li > ul > li strong {
  margin-right: 8px;
  color: #292c33;
  font-size: 16px;
}
@media only screen and (max-width: 669px) {
  .winner-investor ol > li > ul > li strong {
    font-size: 12px;
  }
}
.winner-investor div.prize-usage-notice {
  color: #9b9b9b;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 1px solid #e1e1e1;
  font-size: 14px;
  text-align: justify;
  word-break: break-all;
  letter-spacing: -0.05em;
}
@media only screen and (max-width: 669px) {
  .winner-investor div.prize-usage-notice {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor div.prize-usage-notice {
    font-size: 12px;
  }
}
@media only screen and (max-width: 669px) {
  .winner-investor div.prize-usage-notice {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1001px), only screen and (min-width: 670px) and (max-width: 768px) {
  .winner-investor div.prize-usage-notice {
    font-size: 12px;
  }
}
.winner-investor div.prize-usage-notice span {
  display: block;
  margin-bottom: 4px;
}
.winner,
.winner-ing,
.group-funding-image {
  text-align: center;
  display: none;
}
.winner div.funding-cover,
.winner-ing div.funding-cover,
.group-funding-image div.funding-cover {
  position: relative;
  width: 1148px;
  height: 622px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px solid #e62e6b;
  border-radius: 5px;
}
.winner div.funding-cover h2,
.winner-ing div.funding-cover h2,
.group-funding-image div.funding-cover h2 {
  position: absolute;
  top: -1px;
  left: 0px;
  padding-top: 32px;
  width: 230px;
  height: 330px;
  background-color: #e60073;
  background: url("../img/contest/section-winner.svg") no-repeat;
  background-size: 100%;
  color: #ffffff;
  font-size: 50px;
}
.winner div.funding-cover h2 span,
.winner-ing div.funding-cover h2 span,
.group-funding-image div.funding-cover h2 span {
  display: block;
  font-size: 110px;
  line-height: 120px;
}
.winner div.funding-cover img.funding-cover-image,
.winner-ing div.funding-cover img.funding-cover-image,
.group-funding-image div.funding-cover img.funding-cover-image {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.winner div.company-name,
.winner-ing div.company-name,
.group-funding-image div.company-name {
  margin-top: 20px;
  font-size: 155px;
  padding: 20px 0;
  font-weight: 700;
  color: #353535;
}
.winner.no1,
.winner-ing.no1,
.group-funding-image.no1 {
  background: url('../img/contest/no1_bg.png') no-repeat;
}
.reward {
  display: none;
}
.reward ul {
  position: relative;
  left: 40px;
  margin-top: 150px;
  padding: 0;
}
.reward ul li {
  position: absolute;
  display: none;
  width: 590px;
  margin-right: 30px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  list-style: none;
}
.reward ul li:nth-child(1) {
  left: 0;
}
.reward ul li:nth-child(1) div.gift-name {
  line-height: 100px;
}
.reward ul li:nth-child(2) {
  left: 620px;
}
.reward ul li:nth-child(3) {
  left: 1240px;
}
.reward ul li:nth-child(3) div.gift-name {
  line-height: 100px;
}
.reward ul li.active {
  z-index: 1;
  animation: reward-li-animation 3s;
  border: 5px solid #e60073;
  filter: drop-shadow(0px 6px 6px rgba(153, 153, 153, 0.75));
}
@keyframes reward-li-animation {
  0% {
    transform: scale(10);
    left: 600px;
  }
  20% {
    transform: scale(1.75);
    left: 600px;
  }
  80% {
    transform: scale(1.75);
    left: 600px;
  }
  100% {
    transform: scale(1);
  }
}
.reward ul li.active div.rank {
  color: #e60073;
}
.reward ul li.active div.gift-name {
  color: #e60073;
  font-weight: 700;
  border-top: 1px solid #e60073;
  background-color: #fdf4f8;
}
.reward ul li div.gift-headcount {
  box-sizing: border-box;
  padding: 48px;
}
.reward ul li div.gift-headcount img {
  width: 290px;
  height: 150px;
  vertical-align: middle;
}
.reward ul li div.gift-headcount div.rank {
  float: right;
  margin-top: 35px;
  margin-left: 20px;
  font-size: 52px;
  font-weight: 700;
}
.reward ul li div.gift-headcount div.rank span {
  margin-left: 8px;
  font-size: 34px;
  font-weight: 400;
}
.reward ul li div.gift-name {
  height: 100px;
  border-top: 1px solid #e1e1e1;
  background-color: #e6e6e6;
  text-align: center;
  font-size: 34px;
}
.real-time-amount {
  display: none;
}
#chart-canvas-list h4.chart-tab {
  position: relative;
  display: inline-block;
  width: 110px;
  padding: 15px 0px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  color: #9b9b9b;
  z-index: 1;
  background-color: #f4f4f4;
}
@media only screen and (max-width: 669px) {
  #chart-canvas-list h4.chart-tab {
    width: 80px;
    font-size: 12px;
  }
}
#chart-canvas-list h4.chart-tab.active {
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  color: #292c33;
}
#chart-canvas-list section {
  position: relative;
  display: none;
}
#chart-canvas-list section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: -21px;
  left: 0;
  background-color: #d4d4d4;
}
#chart-canvas-list section.active {
  display: block;
}
