@charset "UTF-8";
/* import/mixin { */
/* import/variable { */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #353535;
}
@media only screen and (max-width: 669px) {
  body {
    font-size: 14px;
  }
}
/*
//Font-size - all - with media query
.font-size-40----20()
.font-size-28----18()
.font-size-28----14()
.font-size-26----20()
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-24----16()
.font-size-22----14()
.font-size-20----14()
.font-size-16----14()
.font-size-22----16()
.font-size-20----16()
.font-size-18----16()
.font-size-18-14-14-14()
.font-size-18----14()
.font-size-18----12()
.font-size-17----12()
.font-size-16----14()
.font-size-16----12()
.font-size-14----12()
.font-size-12----10()

//그외 단일 폰트 사이즈
20px
16px
14px
12px

//중복 규격
h1
.font-size-28----18()
.font-size-24----18()
.font-size-26----20()
.font-size-h1-h2-user-text-section: 24px;

h2
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-20----16()
.font-size-18----16()
.font-size-14----12()
.font-size-h1-h2-user-text-section: 24px;
.font-size-invest-amount-h2(): 16px;

h2-small
.font-size-funding-view-detail-h2-small: 16px;
.font-size-preContest-h2-small: 14px;

h3
.font-size-funding-view-detail-questions-h3: 16px;
.font-size-24----16()
.font-size-18-14-14-14()
*/
h2 {
  font-size: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 1001px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
h2 small {
  font-size: 14px;
  margin-left: 16px;
  color: #8a8f99;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  h2 small {
    display: none;
  }
}
/* } import/text-guide */
/* import/colorset { */
/* } import/colorset */
input::-webkit-input-placeholder {
  color: #e1e1e1;
}
/* } import/variable */
/* BUTTON STYLES */
/*    Button Styles    */
.post-write-btn {
  display: inline-block;
  color: #292c33;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
.post-write-btn-white {
  display: inline-block;
  color: #292c33;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b8becc;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
/* 펀딩등록 버튼 */
/* WITH-ICON STYLES */
/*    withIcon Styles    */
/* FOLDABLE TABLE STYLES */
/*    Foldable-table Styles    */
.table-head-focused {
  background-color: #f4f4f4 !important;
}
.foldable-details {
  display: none;
}
/* ANIMATION STYLES */
/*    Animation Styles    */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn1000 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.fadeIn500 {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}
.fadeIn {
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*slideDown*/
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible !important;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* } import/mixin */
body.fullscreen {
  overflow: hidden;
}
body.fullscreen header,
body.fullscreen footer {
  display: none;
}
body.fullscreen article {
  width: 100%;
  height: 100%;
}
body.fullscreen article .container {
  width: 100%;
  height: 100%;
  padding: 0;
}
body.fullscreen article .container .wrapper {
  margin: inherit;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: none;
}
body.fullscreen article .container .wrapper > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: none;
  margin: inherit;
  padding: inherit;
  background-color: #ffffff;
}
body.fullscreen article .container .wrapper > section h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
}
body.fullscreen article .container .wrapper > section h2 small {
  display: none;
}
body.fullscreen article .container .wrapper > section.overview-ing h2,
body.fullscreen article .container .wrapper > section.overview h2,
body.fullscreen article .container .wrapper > section.investmentPoint-ing h2 {
  position: absolute;
  width: 100%;
  background: url("../img/contest/neospring-ci-white.png") no-repeat;
  background-position: center top;
  font-weight: 700;
}
body.fullscreen article .container .wrapper > section.overview-ing h2 > span,
body.fullscreen article .container .wrapper > section.overview h2 > span,
body.fullscreen article .container .wrapper > section.investmentPoint-ing h2 > span {
  display: none;
}
body.fullscreen article .container .wrapper > section.overview-ing dl,
body.fullscreen article .container .wrapper > section.overview dl,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl {
  width: auto;
  padding: inherit;
  float: none;
  margin-left: inherit;
  height: auto;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentParticipant,
body.fullscreen article .container .wrapper > section.overview dl.currentParticipant,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentParticipant {
  background-image: url("../img/contest/currentParticipant-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 15vw;
  padding-top: 64px;
  padding-bottom: 40px;
  font-size: 0;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentParticipant dt,
body.fullscreen article .container .wrapper > section.overview dl.currentParticipant dt,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentParticipant dt {
  font-size: 60px;
  font-weight: 300;
  background: none;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentParticipant dd,
body.fullscreen article .container .wrapper > section.overview dl.currentParticipant dd,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentParticipant dd {
  font-size: 120px;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentParticipant dd .unit,
body.fullscreen article .container .wrapper > section.overview dl.currentParticipant dd .unit,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentParticipant dd .unit {
  font-size: 120px;
  font-weight: 700;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentAmount,
body.fullscreen article .container .wrapper > section.overview dl.currentAmount,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentAmount {
  text-align: left;
  color: #292c33;
  font-size: 0;
  padding-top: 144px;
  padding-left: 15vw;
  box-sizing: border-box;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentAmount dt,
body.fullscreen article .container .wrapper > section.overview dl.currentAmount dt,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentAmount dt {
  padding-right: 160px;
  font-size: 70px;
  font-weight: 300;
  background: none;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentAmount dd,
body.fullscreen article .container .wrapper > section.overview dl.currentAmount dd,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentAmount dd {
  padding-right: 80px;
  font-size: 160px;
}
body.fullscreen article .container .wrapper > section.overview-ing dl.currentAmount dd .unit,
body.fullscreen article .container .wrapper > section.overview dl.currentAmount dd .unit,
body.fullscreen article .container .wrapper > section.investmentPoint-ing dl.currentAmount dd .unit {
  font-size: 160px;
  font-weight: 700;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing h2 {
  width: 100%;
  height: 10%;
  position: relative;
  background-color: #eb1478;
  margin-bottom: 0;
  padding-top: 0;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap {
  position: relative;
  height: 74vh;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  line-height: normal;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body.point-1 {
  background-color: #fff !important;
  color: #eb1478 !important;
  height: 100%;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body.point-2 {
  height: 50%;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body.point-3 {
  height: 33.3333%;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body.point-4 {
  height: 25%;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body:nth-child(odd) {
  background-color: #eb1478;
  color: #fff;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body:nth-child(even) {
  background-color: #fff;
  color: #eb1478;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body:first-child.point-2 {
  background-color: #fff !important;
  color: #eb1478 !important;
}
body.fullscreen article .container .wrapper > section.investmentPoint-ing .investmentPoint-wrap > .investmentPoint-body:nth-child(2).point-2 {
  background-color: #eb1478 !important;
  color: #fff !important;
}
body.fullscreen article .container .wrapper > section.achievement-ing table,
body.fullscreen article .container .wrapper > section.achievement table {
  width: 94%;
  margin: 16px auto 0 auto;
  border: 0;
  border-spacing: 0;
}
body.fullscreen article .container .wrapper > section.achievement-ing table thead tr th,
body.fullscreen article .container .wrapper > section.achievement table thead tr th {
  height: 88px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table thead tr th div,
body.fullscreen article .container .wrapper > section.achievement table thead tr th div {
  background-size: 16px;
  font-size: 40px;
  width: 120px;
  margin-left: -60px;
  height: auto;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td {
  -opacity: 0.1;
  padding: 0;
  padding-bottom: 20px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.company-name,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.company-name {
  width: 480px;
  font-size: 40px;
  font-weight: 700;
  color: #292c33;
  text-align: right;
  padding-right: 30px;
  letter-spacing: -1px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage {
  height: 79px;
  background-position: 0 40px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage::before,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage::before {
  display: none;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage .amount,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage .amount {
  font-size: 40px;
  font-weight: 300;
  margin-left: 24px;
  vertical-align: inherit;
  letter-spacing: -1px;
  color: #475066;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage .bar,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage .bar {
  position: relative !important;
  display: inline-block !important;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage .bar,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage .bar,
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage .base,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage .base,
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr td.currentPercentage .over,
body.fullscreen article .container .wrapper > section.achievement table tbody tr td.currentPercentage .over {
  height: 40px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr:first-child .amount,
body.fullscreen article .container .wrapper > section.achievement table tbody tr:first-child .amount,
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr:nth-child(2) .amount,
body.fullscreen article .container .wrapper > section.achievement table tbody tr:nth-child(2) .amount,
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr:nth-child(3) .amount,
body.fullscreen article .container .wrapper > section.achievement table tbody tr:nth-child(3) .amount {
  color: #e60073 !important;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em {
  margin-left: -80px;
  margin-right: -80px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td {
  opacity: 1;
  height: 119px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td.company-name,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td.company-name {
  font-size: 48px;
  width: 320px;
  padding: 0;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td.currentPercentage,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td.currentPercentage {
  background-position: 0 60px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td.currentPercentage .amount,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td.currentPercentage .amount {
  font-size: 64px;
  margin-left: 32px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td.currentPercentage .bar,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td.currentPercentage .bar,
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td.currentPercentage .base,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td.currentPercentage .base,
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em td.currentPercentage .over,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em td.currentPercentage .over {
  height: 119px -10px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em {
  display: block;
  position: absolute;
  top: 200px;
}
body.fullscreen article .container .wrapper > section.achievement-ing table tbody tr.em + tr.em,
body.fullscreen article .container .wrapper > section.achievement table tbody tr.em + tr.em {
  top: 400px;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol,
body.fullscreen article .container .wrapper > section.ranking ol {
  margin: 0;
  margin-top: 48px;
  width: auto;
  padding-right: inherit;
  float: none;
  margin-left: inherit;
  border-width: 0;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol li,
body.fullscreen article .container .wrapper > section.ranking ol li {
  padding-left: 225px;
  padding-right: 225px;
  height: 88px;
  border-width: 0;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol li .rank,
body.fullscreen article .container .wrapper > section.ranking ol li .rank {
  width: 96px;
  font-size: 60px;
  color: #8f98b3;
  line-height: 88px;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol li .company-name,
body.fullscreen article .container .wrapper > section.ranking ol li .company-name {
  font-size: 50px;
  line-height: 88px;
  margin-left: 32px;
  margin-right: 32px;
  color: #292c33;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol li .funding-title,
body.fullscreen article .container .wrapper > section.ranking ol li .funding-title {
  font-size: 36px;
  font-weight: 300;
  max-width: 640px;
  line-height: 88px;
  color: #475066;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol li .change,
body.fullscreen article .container .wrapper > section.ranking ol li .change {
  color: #475066;
  line-height: 88px;
  font-size: 45px;
  font-weight: 100;
  height: auto;
  border-width: 0;
  right: 160px;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol li .change .direction,
body.fullscreen article .container .wrapper > section.ranking ol li .change .direction {
  font-size: 28px;
  vertical-align: 4px;
  margin-right: 16px;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.award-list li:first-child:before,
body.fullscreen article .container .wrapper > section.ranking ol.award-list li:first-child:before {
  padding-left: 0;
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 40px;
  margin-left: -130px;
  background: url(../img/icon/liveChart/icon-midiumcrown.png) no-repeat center / 100%;
  transform: translateY(-50%);
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child {
  background-color: #e62e6b;
  border-left: 0;
  border-right: 0;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child .rank,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child .rank {
  color: #fff;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child .company-name,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child .company-name {
  color: #fff;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child .funding-title,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child .funding-title {
  width: 40%;
  color: #fff;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child .change,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child .change {
  color: #fff !important;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child .change.up,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child .change.up,
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:first-child .change.down,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:first-child .change.down {
  color: #fff !important;
}
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:nth-child(2) .rank,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:nth-child(2) .rank,
body.fullscreen article .container .wrapper > section.ranking-ing ol.preceding li:nth-child(3) .rank,
body.fullscreen article .container .wrapper > section.ranking ol.preceding li:nth-child(3) .rank {
  color: #475066;
}
body.fullscreen article .container .wrapper > section.trend-ing h2,
body.fullscreen article .container .wrapper > section.ranking-ing h2,
body.fullscreen article .container .wrapper > section.achievement-ing h2,
body.fullscreen article .container .wrapper > section.trend h2,
body.fullscreen article .container .wrapper > section.investment h2,
body.fullscreen article .container .wrapper > section.ranking h2,
body.fullscreen article .container .wrapper > section.achievement h2,
body.fullscreen article .container .wrapper > section.reward h2,
body.fullscreen article .container .wrapper > section.first h2 {
  padding-top: 100px;
  background: url("../img/contest/neospring-ci.png") no-repeat;
  background-position: center top;
}
body.fullscreen article .container .wrapper > section.trend-ing > div,
body.fullscreen article .container .wrapper > section.trend > div {
  padding: 0 240px;
  border: 0;
  border-spacing: 0;
}
body.fullscreen article .container .wrapper > section.group-funding-image .reward-addon-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body.fullscreen article .container .wrapper .real-time-amount-back,
body.fullscreen article .container .wrapper .real-time-amount-sub,
body.fullscreen article .container .wrapper .real-time-amount {
  display: block;
  position: fixed;
  top: inherit;
  bottom: 0;
  height: 170px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  border: 1px solid #e1e1e1;
  background-color: #f4f4f4;
  font-weight: 400;
  z-index: 20;
  padding-left: 361px;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.state,
body.fullscreen article .container .wrapper .real-time-amount-sub div.state,
body.fullscreen article .container .wrapper .real-time-amount div.state {
  background-color: #f4f4f4;
  z-index: 1;
  position: absolute;
  margin-top: 30px;
  padding: 0 90px;
  left: 0px;
  width: 190px;
  text-align: center;
  border-right: 1px solid #e1e1e1;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.state h1,
body.fullscreen article .container .wrapper .real-time-amount-sub div.state h1,
body.fullscreen article .container .wrapper .real-time-amount div.state h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.state div.present-time,
body.fullscreen article .container .wrapper .real-time-amount-sub div.state div.present-time,
body.fullscreen article .container .wrapper .real-time-amount div.state div.present-time {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor {
  width: 800px;
  z-index: 0;
  float: left;
  margin-top: 30px;
  padding: 0 40px;
  font-size: 28px;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor img,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor img,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.user-profile,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.user-profile,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.user-profile {
  float: left;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.user-profile img,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.user-profile img,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.user-profile img {
  display: block;
  border-radius: 50%;
  float: left;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.user-profile span.user-name,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.user-profile span.user-name,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.user-profile span.user-name {
  max-width: 160px;
  overflow: hidden;
  display: block;
  line-height: 300%;
  float: left;
  margin-left: 20px;
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.invest,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.invest,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.invest {
  float: left;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.invest div.invest-company,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.invest div.invest-company,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.invest div.invest-company {
  float: left;
  padding-right: 30px;
  border-right: 1px solid #e1e1e1;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.invest div.invest-company img,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.invest div.invest-company img,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.invest div.invest-company img {
  border-radius: 50%;
  display: block;
  float: left;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.invest div.invest-company span.company-name,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.invest div.invest-company span.company-name,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.invest div.invest-company span.company-name {
  max-width: 200px;
  margin: auto 20px;
  overflow: hidden;
  display: block;
  float: left;
  line-height: 300%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.fullscreen article .container .wrapper .real-time-amount-back div.latest-investor div.invest div.invest-company span.invest-amount,
body.fullscreen article .container .wrapper .real-time-amount-sub div.latest-investor div.invest div.invest-company span.invest-amount,
body.fullscreen article .container .wrapper .real-time-amount div.latest-investor div.invest div.invest-company span.invest-amount {
  display: block;
  float: left;
  line-height: 300%;
}
body.fullscreen article .container .wrapper .real-time-amount-sub {
  z-index: 10;
}
body.fullscreen article .container .wrapper .real-time-amount-back {
  z-index: 5;
  border: 1px solid #e1e1e1;
  background-color: #f4f4f4;
}
body.fullscreen article .container .wrapper .eventPopup {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff url("../img/contest/event/live/img-bg.png") no-repeat center top;
}
body.fullscreen article .container .wrapper .eventPopup .title {
  font-size: 175px;
  font-weight: 700;
  color: #933262;
  margin-top: 260px;
}
body.fullscreen article .container .wrapper .eventPopup .email {
  font-size: 87px;
  font-weight: 700;
  color: #292c33;
  margin-top: 46px;
}
body.fullscreen article .container .wrapper .eventPopup .describe {
  font-size: 54px;
  color: #ff8cb2;
  margin-top: 10px;
}
div.marquee-temp {
  display: none;
}
div.invest-now {
  padding-top: 16px;
  top: 0;
  width: 1470px;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: #f4f4f4;
}
div.marquee-display {
  width: 1470px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
div.marquee-display .investor-marquee-animation {
  position: absolute;
  left: 1460px;
  animation-name: marquee;
  -webkit-animation-name: marquee;
  animation-duration: 9s;
  -webkit-animation-duration: 9s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
@keyframes marquee {
  100% {
    transform: translateX(-2190px);
  }
}
@-webkit-keyframes marquee {
  100% {
    transform: translateX(-2190px);
  }
}
@keyframes realtime-rotate-out {
  0% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@-webkit-keyframes realtime-rotate-out {
  0% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.realtime-rotate-out {
  -webkit-animation: realtime-rotate-out 1s 1;
  -moz-animation: realtime-rotate-out 1s linear 1;
  animation: realtime-rotate-out 1s linear 1;
  opacity: 0;
}
@keyframes realtime-rotate-in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes realtime-rotate-in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
.realtime-rotate-in {
  -webkit-animation: realtime-rotate-in 1s 1;
  -moz-animation: realtime-rotate-in 1s linear 1;
  animation: realtime-rotate-in 1s linear 1;
  opacity: 1;
}
