@charset "UTF-8";
/* import/mixin { */
/* import/variable { */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #353535;
}
@media only screen and (max-width: 669px) {
  body {
    font-size: 14px;
  }
}
/*
//Font-size - all - with media query
.font-size-40----20()
.font-size-28----18()
.font-size-28----14()
.font-size-26----20()
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-24----16()
.font-size-22----14()
.font-size-20----14()
.font-size-16----14()
.font-size-22----16()
.font-size-20----16()
.font-size-18----16()
.font-size-18-14-14-14()
.font-size-18----14()
.font-size-18----12()
.font-size-17----12()
.font-size-16----14()
.font-size-16----12()
.font-size-14----12()
.font-size-12----10()

//그외 단일 폰트 사이즈
20px
16px
14px
12px

//중복 규격
h1
.font-size-28----18()
.font-size-24----18()
.font-size-26----20()
.font-size-h1-h2-user-text-section: 24px;

h2
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-20----16()
.font-size-18----16()
.font-size-14----12()
.font-size-h1-h2-user-text-section: 24px;
.font-size-invest-amount-h2(): 16px;

h2-small
.font-size-funding-view-detail-h2-small: 16px;
.font-size-preContest-h2-small: 14px;

h3
.font-size-funding-view-detail-questions-h3: 16px;
.font-size-24----16()
.font-size-18-14-14-14()
*/
h2 {
  font-size: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 1001px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
h2 small {
  font-size: 14px;
  margin-left: 16px;
  color: #8a8f99;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  h2 small {
    display: none;
  }
}
/* } import/text-guide */
/* import/colorset { */
/* } import/colorset */
input::-webkit-input-placeholder {
  color: #e1e1e1;
}
/* } import/variable */
/* BUTTON STYLES */
/*    Button Styles    */
.post-write-btn {
  display: inline-block;
  color: #292c33;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
.post-write-btn-white {
  display: inline-block;
  color: #292c33;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b8becc;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
/* 펀딩등록 버튼 */
/* WITH-ICON STYLES */
/*    withIcon Styles    */
/* FOLDABLE TABLE STYLES */
/*    Foldable-table Styles    */
.table-head-focused {
  background-color: #f4f4f4 !important;
}
.foldable-details {
  display: none;
}
/* ANIMATION STYLES */
/*    Animation Styles    */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn1000 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.fadeIn500 {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}
.fadeIn {
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*slideDown*/
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible !important;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* } import/mixin */
body {
  background-color: #fff;
}
.guide-header {
  position: relative;
  width: 100%;
  height: 245px;
  border-bottom: none;
  background-color: #f6f3f3;
}
@media only screen and (max-width: 669px) {
  .guide-header {
    height: 77px;
  }
}
.guide-header > a {
  display: block;
  position: absolute;
  width: 20px;
  height: 55px;
  top: 0;
  left: 0;
  background: url(../img/guide/large/guide_close_btn.jpg) no-repeat;
  color: #757575;
  line-height: 55px;
  box-shadow: 1px 1px 3px #e1e1e1;
}
@media only screen and (max-width: 669px) {
  .guide-header > a {
    display: none;
  }
}
.guide-header h3 {
  position: absolute;
  font-size: 28px;
  line-height: 28px;
  color: #caa286;
  font-weight: 400;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 669px) {
  .guide-header h3 {
    font-size: 18px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 669px) {
  .guide-header h3 {
    font-size: 18px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 669px) {
  .guide-header h3 {
    font-size: 18px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 669px) {
  .guide-header h3 {
    top: 15px;
    left: 100px;
  }
}
.guide-header form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 55px;
  max-width: 745px;
  width: 100%;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  height: 62px;
}
@media only screen and (max-width: 669px) {
  .guide-header form {
    height: 50px;
    bottom: -50px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
}
.guide-header form input[name="searchKeyword"] {
  padding: 18px;
  max-width: 700px;
  width: 88%;
  margin: 0;
  border: 0;
  float: left;
}
@media only screen and (max-width: 669px) {
  .guide-header form input[name="searchKeyword"] {
    padding: 14px;
    width: 70%;
  }
}
.guide-header form a {
  float: right;
  margin-right: 20px;
  margin-top: 18px;
}
@media only screen and (max-width: 669px) {
  .guide-header form a {
    margin-top: 14px;
  }
}
.guide-header form a img {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 669px) {
  .guide-header form a img {
    width: 22px;
    height: 22px;
  }
}
.guide-wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
@media only screen and (max-width: 669px) {
  .guide-wrap {
    width: 100% !important;
  }
}
.guide-wrap .guide-lnb {
  position: relative;
  width: 250px;
  height: 100%;
  margin-left: -140px;
  float: left;
}
@media only screen and (max-width: 669px) {
  .guide-wrap .guide-lnb {
    display: none;
  }
}
.guide-wrap .guide-lnb ul {
  list-style: none;
  text-align: right;
}
.guide-wrap .guide-lnb ul::after {
  content: "";
  display: block;
  clear: both;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 {
  width: 150px;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li {
  position: relative;
  padding-bottom: 10px;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > span {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #292c33;
}
@media only screen and (max-width: 669px) {
  .guide-wrap .guide-lnb .guide-lnb-dept1 > li > span {
    font-size: 12px;
  }
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li.neo-logo-li::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 11px;
  top: 8px;
  right: 35px;
  background: url(../img/guide/large/img-large-neospring.png) no-repeat;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li:last-child > ul > li:first-child {
  font-size: 14px;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 {
  position: relative;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 > li {
  position: relative;
  padding: 2px 0;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 > li a {
  position: relative;
  color: #292c33;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 .guide-lnb-dept3 {
  position: relative;
  padding: 10px 0;
  display: none;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 .guide-lnb-dept3 li {
  width: 100%;
}
.guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 .guide-lnb-dept3 li a {
  color: #292c33;
  font-size: 12px;
}
@media only screen and (max-width: 669px) {
  .guide-wrap .guide-lnb .guide-lnb-dept1 > li > .guide-lnb-dept2 .guide-lnb-dept3 li a {
    font-size: 10px;
  }
}
.guide-wrap .guide-lnb .show_lnb > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 5px;
  top: 10px;
  right: -10px;
  background: url(../img/guide/large/icon-arr.png) no-repeat;
}
.guide-wrap .guide-lnb .hide_lnb > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 5px;
  top: 10px;
  right: -10px;
  background: url(../img/guide/large/icon-arr_pink.png) no-repeat;
}
.guide-wrap .guide-lnb .qbox {
  display: none;
  list-style: none;
  width: 82px;
  margin-left: 80px;
}
.guide-wrap .guide-lnb .qbox li {
  width: 100%;
  height: 24px;
  padding: 5px 0;
}
.guide-wrap .guide-lnb .qbox li a {
  display: block;
  width: 100%;
}
.guide-wrap article.guide-cont {
  position: relative;
  width: 82%;
  margin-top: 15px;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
.guide-wrap article.guide-cont div:first-child {
  height: 430px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child {
    padding: 30px 12px 0;
    width: 100%;
    height: auto;
  }
}
.guide-wrap article.guide-cont div:first-child h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  color: #9b9b9b;
}
.guide-wrap article.guide-cont div:first-child ul {
  position: relative;
  width: 100%;
  height: 412px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child ul {
    height: auto;
    margin-bottom: 70px;
  }
}
.guide-wrap article.guide-cont div:first-child ul::after {
  content: "";
  display: block;
  clear: both;
}
.guide-wrap article.guide-cont div:first-child ul li {
  position: relative;
  width: 50%;
  float: left;
}
.guide-wrap article.guide-cont div:first-child ul li:nth-child(3) > h6::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 11px;
  top: -13px;
  background: url(../img/guide/large/img-large-neospring.png) no-repeat;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child ul li:last-child dl {
    height: 80px;
  }
}
.guide-wrap article.guide-cont div:first-child ul li:last-child dd {
  top: -43px;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child ul li {
    width: 100%;
    float: none;
  }
}
.guide-wrap article.guide-cont div:first-child ul li > a {
  display: none;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child ul li > a {
    display: block;
    position: absolute;
    bottom: 30px;
    color: #e60073;
  }
}
.guide-wrap article.guide-cont div:first-child ul h6 {
  font-size: 20px;
  margin: 0;
  width: 150px;
  color: #292c33;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child ul h6 {
    font-size: 18px !important;
  }
}
.guide-wrap article.guide-cont div:first-child ul dl {
  width: 100%;
  height: 140px;
}
.guide-wrap article.guide-cont div:first-child ul dl dt {
  position: relative;
  width: 52px;
  height: 24px;
  padding: 5px 0;
  margin: 0;
  float: left;
}
.guide-wrap article.guide-cont div:first-child ul dl dt::after {
  content: "";
  display: block;
  clear: left;
}
.guide-wrap article.guide-cont div:first-child ul dl dt > a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.guide-wrap article.guide-cont div:first-child ul dl dd {
  position: relative;
  width: 70%;
  margin-left: 65px;
  padding: 6px 0;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:first-child ul dl dd {
    padding: 10px 0;
  }
}
.guide-wrap article.guide-cont div:first-child ul dl dd a {
  color: #292c33;
  margin-left: 20px;
}
.guide-wrap article.guide-cont div:first-child ul dl dd a::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  padding-right: 10px;
  background: url(../img/guide/large/img-large-Q.png) no-repeat;
}
.guide-wrap article.guide-cont div:first-child ul dl dd a span {
  position: absolute;
  width: 100%;
  left: 30px;
}
.guide-wrap article.guide-cont div:nth-child(2) img {
  width: 100%;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont div:nth-child(2) {
    display: none;
  }
}
.guide-wrap article.guide-cont .go-to-more {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 59px;
  border-top: 1px solid #e4e4e4;
}
@media only screen and (max-width: 669px) {
  .guide-wrap article.guide-cont .go-to-more {
    display: block;
  }
}
.guide-wrap article.guide-cont .go-to-more a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: #292c33;
  font-weight: 700;
}
.guide-wrap article.guide-cont .go-to-more a span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
