@charset "UTF-8";
/* investment-instruction { */
/* import/mixin { */
/* import/variable { */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #353535;
}
@media only screen and (max-width: 669px) {
  body {
    font-size: 14px;
  }
}
/*
//Font-size - all - with media query
.font-size-40----20()
.font-size-28----18()
.font-size-28----14()
.font-size-26----20()
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-24----16()
.font-size-22----14()
.font-size-20----14()
.font-size-16----14()
.font-size-22----16()
.font-size-20----16()
.font-size-18----16()
.font-size-18-14-14-14()
.font-size-18----14()
.font-size-18----12()
.font-size-17----12()
.font-size-16----14()
.font-size-16----12()
.font-size-14----12()
.font-size-12----10()

//그외 단일 폰트 사이즈
20px
16px
14px
12px

//중복 규격
h1
.font-size-28----18()
.font-size-24----18()
.font-size-26----20()
.font-size-h1-h2-user-text-section: 24px;

h2
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-20----16()
.font-size-18----16()
.font-size-14----12()
.font-size-h1-h2-user-text-section: 24px;
.font-size-invest-amount-h2(): 16px;

h2-small
.font-size-funding-view-detail-h2-small: 16px;
.font-size-preContest-h2-small: 14px;

h3
.font-size-funding-view-detail-questions-h3: 16px;
.font-size-24----16()
.font-size-18-14-14-14()
*/
h2 {
  font-size: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 1001px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
h2 small {
  font-size: 14px;
  margin-left: 16px;
  color: #8a8f99;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  h2 small {
    display: none;
  }
}
/* } import/text-guide */
/* import/colorset { */
/* } import/colorset */
input::-webkit-input-placeholder {
  color: #e1e1e1;
}
/* } import/variable */
/* BUTTON STYLES */
/*    Button Styles    */
.post-write-btn {
  display: inline-block;
  color: #292c33;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
.post-write-btn-white {
  display: inline-block;
  color: #292c33;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b8becc;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.05em;
}
/* 펀딩등록 버튼 */
/* WITH-ICON STYLES */
/*    withIcon Styles    */
/* FOLDABLE TABLE STYLES */
/*    Foldable-table Styles    */
.table-head-focused {
  background-color: #f4f4f4 !important;
}
.foldable-details {
  display: none;
}
/* ANIMATION STYLES */
/*    Animation Styles    */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn1000 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.fadeIn500 {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}
.fadeIn {
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*slideDown*/
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible !important;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* } import/mixin */
.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8000;
  display: none;
  transition: opacity 0s;
}
.modal-layer::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.modal-layer h2.title {
  margin-top: 25px;
  font-size: 20px;
  width: 100%;
  line-height: 1.7em;
  border-bottom: 1px solid #e4e4e4;
  text-indent: 20px;
  color: #292c33;
}
.modal-layer h2.title span {
  text-indent: 0;
  display: inline-block;
  border-bottom: 1px solid #e60073;
}
.modal-layer p.message {
  width: 90%;
  margin: 20px auto;
  font-size: 14px;
  line-height: 1.4em;
  padding: 10px;
  text-align: center;
}
.modal-layer input.center {
  width: 90%;
  display: block;
  margin: auto;
  text-indent: 10px;
  padding: 15px 0;
}
.modal-layer a.submit {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
  letter-spacing: -0.05em;
  font-size: 16px;
  background-color: #e60073;
  color: #ffffff;
  padding: 15px 0;
  width: 90%;
  display: block;
  margin: 10px auto;
  margin-bottom: 35px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  .modal-layer a.submit {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px) {
  .modal-layer a.submit {
    font-size: 16px;
  }
}
@media only screen and (max-width: 669px) {
  .modal-layer a.submit {
    font-size: 16px;
  }
}
.modal-layer a.submit:hover,
.modal-layer a.submit:focus {
  background-color: #ff1a84;
  color: #ffffff;
}
.modal-layer a.submit.disabled {
  background-color: #fbd0e4;
  cursor: default;
}
.modal-layer .parsley-errors-list li {
  width: 90%;
  margin: auto;
  line-height: 20px;
}
.funcmodal-layer {
  overflow-y: auto;
}
.funcmodal-wrapper {
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  width: 320px;
  min-width: 200px;
  float: none;
}
@media only screen and (max-width: 669px) {
  .funcmodal-wrapper {
    width: 240px;
  }
}
.funcmodal-wrapper .modal-content {
  padding: 40px 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .funcmodal-wrapper .modal-content {
    padding: 24px 0 20px;
  }
}
.funcmodal-wrapper .fr-wrapper {
  max-height: none !important;
}
/*alert modal*/
.modal-wrapper {
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  width: 320px;
  min-width: 200px;
  float: none;
  transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  vertical-align: middle;
}
@media only screen and (max-width: 669px) {
  .modal-wrapper {
    width: 240px;
  }
}
.modal-wrapper .icon-area {
  margin-bottom: 10px;
  text-align: center;
}
@media only screen and (max-width: 669px) {
  .modal-wrapper .icon-area {
    margin-bottom: 6px;
  }
}
.modal-wrapper .icon-area img {
  width: 42px;
}
@media only screen and (max-width: 669px) {
  .modal-wrapper .icon-area img {
    width: 36px;
  }
}
.modal-wrapper .modal-content {
  padding: 40px 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .modal-wrapper .modal-content {
    padding: 24px 0 20px;
  }
}
.modal-msg {
  width: 100%;
  text-align: center;
}
.modal-msg .tit {
  padding: 0 16px;
  margin: 0;
  color: #292c33;
  font-size: 20px;
  font-weight: 700;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .modal-msg .tit {
    font-size: 16px;
  }
}
.modal-msg p {
  padding: 0 16px;
  margin: 14px 0 0;
  color: #6b7799;
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .modal-msg p {
    margin-top: 10px;
    font-size: 12px;
  }
}
.modal-msg .title {
  font-size: 18px;
  color: #e60073;
  margin-bottom: 5px;
}
.modal-msg .message {
  margin-top: 0px;
}
.modal-msg .gold {
  color: #ab876f;
}
.modal-btn-area {
  width: 100%;
  line-height: 60px;
  text-align: center;
  border-top: 1px solid #e4e4e4;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
@media only screen and (max-width: 669px) {
  .modal-btn-area {
    line-height: 50px;
  }
}
.modal-btn-area.full-modal-btn a,
.modal-btn-area.full-modal-btn button {
  width: 100%;
}
.modal-btn-area a {
  width: 100%;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}
.modal-btn-area button {
  width: 50%;
  font-size: 16px;
  line-height: 58px;
  background-color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}
@media only screen and (max-width: 669px) {
  .modal-btn-area button {
    line-height: 48px;
  }
}
.modal-btn-area .modal-confirm,
.modal-btn-area .modal-cancel,
.modal-btn-area .close-modal {
  width: 50%;
  float: left;
  color: #292c33;
  box-sizing: border-box;
  background-color: #fff;
}
.modal-btn-area .modal-confirm {
  color: #e60073;
}
.modal-btn-area a {
  color: #45474d;
}
.modal-btn-area .first {
  width: 50%;
  box-shadow: 0px 0 1px -1px #292c33;
}
.modal-btn-area .second {
  width: 50%;
}
.modal-ok {
  width: 100%;
}
.image-crop-modal .funcmodal-wrapper {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}
.image-crop-modal .funcmodal-wrapper .modal-content {
  padding: 0;
  border: none;
  border-radius: 0;
}
.searchmodal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 35;
  display: none;
  transition: opacity 0s;
}
#fundingSearchModal {
  position: fixed;
  height: 100%;
  width: 420px;
  top: 0;
  z-index: 35;
  background-color: #fff;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 669px) {
  #fundingSearchModal {
    width: 100%;
  }
}
#fundingSearchModal > div .search-header {
  position: relative;
  height: 100px;
  background-color: #475066;
}
#fundingSearchModal > div .search-header h3 {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 31px 0 31px 25px;
}
#fundingSearchModal > div .search-header button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 24px;
  height: 24px;
  background: url(../../img/guide/large/close-icon.png) no-repeat 0;
  background-size: 100%;
  text-indent: -99999px;
  font-size: 1px;
  border: none;
  cursor: pointer;
}
#fundingSearchModal > div .search-body form {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
#fundingSearchModal > div .search-body form input {
  display: inline-block;
  width: 80%;
  padding: 14px;
  border: none;
  box-sizing: content-box;
}
#fundingSearchModal > div .search-body form button {
  width: 25px;
  height: 25px;
  background: url(../../img/icon/icon-magnifier.png) no-repeat 0;
  background-size: 100%;
  border: none;
  text-indent: -99999px;
  font-size: 1px;
  cursor: pointer;
}
#fundingSearchModal > div .search-cont {
  padding: 30px;
  max-height: 700px;
  overflow-y: auto;
}
#fundingSearchModal > div .search-cont h4 {
  margin: 0;
  color: #292c33;
  font-size: 20px;
}
#fundingSearchModal > div .search-cont ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  padding-bottom: 250px;
}
#fundingSearchModal > div .search-cont ul li {
  padding: 20px 0;
  border-bottom: 1px solid #dadde6;
}
#fundingSearchModal > div .search-cont ul li img {
  width: 106px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#fundingSearchModal > div .search-cont ul li a > div {
  display: inline-block;
  margin-left: 20px;
  width: 200px;
  vertical-align: top;
}
#fundingSearchModal > div .search-cont ul li a > div p {
  margin: 0;
  padding: 0;
  color: #292c33;
}
#fundingSearchModal > div .search-cont ul li a > div div {
  margin-top: 15px;
  font-size: 12px;
  color: #8a8f99;
}
#fundingSearchModal.hide-search {
  right: -120%;
  transition: all 1s ease;
}
#fundingSearchModal.show-search {
  right: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
/* 뉴스레터 수신 거부 신청*/
#newsletterRefusal-modal .modal-wrapper,
#newsletterRefusal-complete-modal .modal-wrapper {
  width: 480px !important;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  #newsletterRefusal-modal .modal-wrapper,
  #newsletterRefusal-complete-modal .modal-wrapper {
    width: inherit;
  }
}
#newsletterRefusal-modal .modal-wrapper .modal-content,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content {
  padding: 40px 30px;
  box-sizing: border-box;
  text-align: center;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .icon-area,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .icon-area {
  margin: 0;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .icon-area div,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .icon-area div {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .modal-msg,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .modal-msg {
  margin: 20px auto;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .modal-msg p.warning,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .modal-msg p.warning {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #292c33;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .modal-msg p.msg1,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .modal-msg p.msg1 {
  margin: 0;
  padding: 30px 0 15px;
  color: #292c33;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .modal-msg p.msg1 span,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .modal-msg p.msg1 span {
  color: #e60073;
}
#newsletterRefusal-modal .modal-wrapper .modal-content .modal-msg p.msg2,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content .modal-msg p.msg2 {
  margin: 0;
  padding: 0x;
  color: #6b7799;
  font-size: 12px;
}
#newsletterRefusal-modal .modal-wrapper .modal-content button,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content button {
  padding: 0 20px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  background-color: #e60073;
  border: 0;
  cursor: pointer;
}
#newsletterRefusal-modal .modal-wrapper .modal-content a,
#newsletterRefusal-complete-modal .modal-wrapper .modal-content a {
  display: inline-block;
  padding: 0 14px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  background-color: #475066;
}
#cheerfor-complete-modal .modal-wrapper {
  width: 380px;
}
@media only screen and (max-width: 669px) {
  #cheerfor-complete-modal .modal-wrapper {
    width: 300px;
  }
}
#mobile-verification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8000;
  display: none;
  transition: opacity 0s;
  color: #292c33;
}
#mobile-verification::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
#mobile-verification h2.title {
  margin-top: 25px;
  font-size: 20px;
  width: 100%;
  line-height: 1.7em;
  border-bottom: 1px solid #e4e4e4;
  text-indent: 20px;
  color: #292c33;
}
#mobile-verification h2.title span {
  text-indent: 0;
  display: inline-block;
  border-bottom: 1px solid #e60073;
}
#mobile-verification p.message {
  width: 90%;
  margin: 20px auto;
  font-size: 14px;
  line-height: 1.4em;
  padding: 10px;
  text-align: center;
}
#mobile-verification input.center {
  width: 90%;
  display: block;
  margin: auto;
  text-indent: 10px;
  padding: 15px 0;
}
#mobile-verification a.submit {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
  letter-spacing: -0.05em;
  font-size: 16px;
  background-color: #e60073;
  color: #ffffff;
  padding: 15px 0;
  width: 90%;
  display: block;
  margin: 10px auto;
  margin-bottom: 35px;
}
@media only screen and (min-width: 769px) and (max-width: 1001px) {
  #mobile-verification a.submit {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px) {
  #mobile-verification a.submit {
    font-size: 16px;
  }
}
@media only screen and (max-width: 669px) {
  #mobile-verification a.submit {
    font-size: 16px;
  }
}
#mobile-verification a.submit:hover,
#mobile-verification a.submit:focus {
  background-color: #ff1a84;
  color: #ffffff;
}
#mobile-verification a.submit.disabled {
  background-color: #fbd0e4;
  cursor: default;
}
#mobile-verification .parsley-errors-list li {
  width: 90%;
  margin: auto;
  line-height: 20px;
}
#mobile-verification .funcmodal-wrapper {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 380px;
  width: 100%;
}
@media only screen and (max-width: 669px) {
  #mobile-verification .funcmodal-wrapper {
    width: 90%;
  }
}
#mobile-verification .caution {
  text-align: center;
  margin-bottom: 16px;
  font-size: 18px;
}
@media only screen and (max-width: 669px) {
  #mobile-verification .caution {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  #mobile-verification .caution {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  #mobile-verification .caution {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  #mobile-verification .caution {
    font-size: 14px;
  }
}
@media only screen and (max-width: 669px) {
  #mobile-verification .caution {
    padding-bottom: 4px;
  }
}
#mobile-verification .caution::before {
  content: "*";
  color: #e60073;
}
/* } investment-instruction */
