@charset "UTF-8";
/* import/variable { */
body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #353535;
}
@media only screen and (max-width: 669px) {
  body {
    font-size: 14px;
  }
}
/*
//Font-size - all - with media query
.font-size-40----20()
.font-size-28----18()
.font-size-28----14()
.font-size-26----20()
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-24----16()
.font-size-22----14()
.font-size-20----14()
.font-size-16----14()
.font-size-22----16()
.font-size-20----16()
.font-size-18----16()
.font-size-18-14-14-14()
.font-size-18----14()
.font-size-18----12()
.font-size-17----12()
.font-size-16----14()
.font-size-16----12()
.font-size-14----12()
.font-size-12----10()

//그외 단일 폰트 사이즈
20px
16px
14px
12px

//중복 규격
h1
.font-size-28----18()
.font-size-24----18()
.font-size-26----20()
.font-size-h1-h2-user-text-section: 24px;

h2
.font-size-24-20-20-18()
.font-size-24----18()
.font-size-20----16()
.font-size-18----16()
.font-size-14----12()
.font-size-h1-h2-user-text-section: 24px;
.font-size-invest-amount-h2(): 16px;

h2-small
.font-size-funding-view-detail-h2-small: 16px;
.font-size-preContest-h2-small: 14px;

h3
.font-size-funding-view-detail-questions-h3: 16px;
.font-size-24----16()
.font-size-18-14-14-14()
*/
h2 {
  font-size: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 670px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 1001px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
@media only screen and (max-width: 669px) {
  h2 {
    font-size: 16px;
    line-height: 137.5%;
  }
}
h2 small {
  font-size: 14px;
  margin-left: 16px;
  color: #8a8f99;
  font-weight: 400;
}
@media only screen and (max-width: 669px) {
  h2 small {
    display: none;
  }
}
/* } import/text-guide */
/* import/colorset { */
/* } import/colorset */
input::-webkit-input-placeholder {
  color: #e1e1e1;
}
/* } import/variable */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
@media only screen and (max-width: 669px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    line-height: 1.5em;
  }
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
.blind{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -100000px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent:-999999px;
}
/* 네오스프링 회사소개 페이지 css */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .wrapper {
    padding: 0 20px;
  }
}
/* 상단 고정 메뉴 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  transition: all .3s;
  z-index: 11;
}
header.top {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
}
header h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header h1 a {
  display: block;
  width: 102px;
  height: 22px;
  font-size: 1px;
  background: url(../img/us/neospring.png) no-repeat;
  background-size: 100%;
  text-indent: -99999px;
}
header #gnb {
  float: right;
}
@media only screen and (max-width: 669px) {
  header #gnb {
    display: none;
  }
}
header #gnb ul::after {
  content: "";
  display: none;
  clear: both;
}
header #gnb ul li {
  padding: 30px 15px;
  box-sizing: border-box;
  float: left;
}
header #gnb ul li:last-child {
  padding-right: 0;
}
header #gnb ul li a,
header #gnb ul li span {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.neo-section {
  padding: 70px 0 130px;
}
.neo-section h2 {
  color: #3f3c3c;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.neo-section h2 span {
  padding: 0 15px;
  color: rgba(255, 51, 119, 0.9);
}
section#main {
  position: relative;
  height: 540px;
  background: url(../img/us/title_image.png) no-repeat;
  background-size: cover;
  background-position: top;
}
@media only screen and (max-width: 669px) {
  section#main {
    height: 330px;
  }
}
section#main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 424px;
  bottom: -1px;
  right: 0;
  background: url(../img/us/title_mask.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
}
section#main h2 {
  margin-top: 150px;
  color: #000;
  font-size: 48px;
  font-weight: 300;
  text-align: left;
}
@media only screen and (max-width: 669px) {
  section#main h2 {
    margin-top: 50px;
  }
}
section#main p {
  margin-top: 30px;
  color: #7a8599;
  font-size: 18px;
  font-weight: 300;
}
section#Count {
  height: 300px;
}
@media only screen and (max-width: 669px) {
  section#Count {
    height: auto;
  }
}
section#Count ul {
  position: relative;
}
section#Count ul::after {
  content: "";
  display: block;
  clear: both;
}
section#Count ul li {
  position: absolute;
  text-align: center;
  float: left;
}
section#Count ul li:first-child {
  left: 0;
}
section#Count ul li:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}
section#Count ul li:nth-child(3) {
  right: 0;
}
@media only screen and (max-width: 669px) {
  section#Count ul li {
    position: relative;
    margin-bottom: 30px;
    float: none;
  }
}
section#Count ul li div img {
  margin-bottom: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
section#Count ul li div div {
  color: #000;
  font-size: 36px;
  font-weight: 300;
}
section#Count ul li div h4 {
  margin-top: 20px;
  color: #7a8599;
  font-size: 18px;
  font-weight: 300;
}
/*미션*/
section#Mission .mission-swiper-container {
  margin-top: 80px;
  padding-bottom: 80px;
  /* 버튼 */
}
section#Mission .mission-swiper-container .swiper-button-next,
section#Mission .mission-swiper-container .swiper-button-prev {
  width: 24px;
  height: 47px;
}
section#Mission .mission-swiper-container .swiper-button-next.swiper-button-next,
section#Mission .mission-swiper-container .swiper-button-prev.swiper-button-next {
  background: url(../img/us/icon-arrowRight.png) no-repeat 0;
  background-size: 100%;
}
section#Mission .mission-swiper-container .swiper-button-next.swiper-button-prev,
section#Mission .mission-swiper-container .swiper-button-prev.swiper-button-prev {
  background: url(../img/us/icon-arrowLeft.png) no-repeat 0;
  background-size: 100%;
}
section#Mission .mission-swiper-container .swiper-pagination span.swiper-pagination-bullet {
  bottom: 0;
}
section#Mission .mission-swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
  background: #ff3377;
}
section#Mission .mission-swiper-container div.mission-item {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item {
    padding: 0 50px;
    box-sizing: border-box;
  }
}
section#Mission .mission-swiper-container div.mission-item div.image-item {
  width: 40%;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item div.image-item {
    width: inherit;
    float: none;
  }
}
section#Mission .mission-swiper-container div.mission-item div.image-item img {
  padding: 37px 0;
  width: 240px;
  height: 240px;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item div.image-item img {
    padding: 0;
    max-width: 240px;
    width: 100%;
    height: auto;
  }
}
section#Mission .mission-swiper-container div.mission-item div.text-item {
  padding-left: 360px;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item div.text-item {
    padding-left: 0;
  }
}
section#Mission .mission-swiper-container div.mission-item div.text-item h3 {
  position: relative;
  margin-bottom: 10px;
  color: #000;
  font-size: 36px;
  font-weight: 300;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item div.text-item h3 {
    font-size: 34px;
  }
}
section#Mission .mission-swiper-container div.mission-item div.text-item h3::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 26px;
  height: 18px;
  background: url(../img/us/icon-quotation.png) no-repeat;
  background-size: 100%;
}
section#Mission .mission-swiper-container div.mission-item div.text-item small {
  color: rgba(122, 133, 153, 0.8);
  font-size: 18px;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item div.text-item small {
    font-size: 16px;
  }
}
section#Mission .mission-swiper-container div.mission-item div.text-item p {
  margin-top: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  word-break: keep-all;
}
@media only screen and (max-width: 669px) {
  section#Mission .mission-swiper-container div.mission-item div.text-item p {
    font-size: 14px;
  }
}
/* 팀 */
section#People {
  /* 임원진 */
  /* 팀 */
}
section#People div.team-swiper-container {
  margin-top: 50px;
  height: 480px;
}
@media only screen and (max-width: 669px) {
  section#People div.team-swiper-container {
    height: auto;
  }
}
section#People div.team-swiper-container .swiper-slide:nth-child(4) ul.executiveTeam-list li {
  width: 50%;
}
section#People div.team-swiper-container .swiper-pagination span.swiper-pagination-bullet {
  bottom: 0;
}
section#People div.team-swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
  background: #ff3377;
}
section#People ul.executiveTeam-list::after,
section#People ul.team-list::after {
  content: "";
  display: block;
  clear: both;
}
section#People ul.executiveTeam-list li,
section#People ul.team-list li {
  margin-bottom: 40px;
  padding-top: 30px;
  width: 33.3333%;
  cursor: pointer;
  float: left;
}
@media only screen and (max-width: 669px) {
  section#People ul.executiveTeam-list li,
  section#People ul.team-list li {
    margin-bottom: 60px;
    width: 50%;
  }
}
section#People ul.executiveTeam-list li div.team-image,
section#People ul.team-list li div.team-image {
  margin: 0 auto 16px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 669px) {
  section#People ul.executiveTeam-list li div.team-image,
  section#People ul.team-list li div.team-image {
    width: 100px;
    height: 100px;
  }
}
section#People ul.executiveTeam-list li div.team-image img,
section#People ul.team-list li div.team-image img {
  width: 100%;
  height: 100%;
}
section#People ul.executiveTeam-list li dl,
section#People ul.team-list li dl {
  text-align: center;
}
section#People ul.executiveTeam-list li dl dt,
section#People ul.team-list li dl dt {
  color: #000;
  font-size: 24px;
}
@media only screen and (max-width: 669px) {
  section#People ul.executiveTeam-list li dl dt,
  section#People ul.team-list li dl dt {
    font-size: 22px;
  }
}
section#People ul.executiveTeam-list li dl dd,
section#People ul.team-list li dl dd {
  margin: 0;
  color: #7a8599;
  font-size: 14px;
}
@media only screen and (max-width: 669px) {
  section#People ul.executiveTeam-list li dl dd,
  section#People ul.team-list li dl dd {
    font-size: 12px;
  }
}
section#People ul.executiveTeam-list li dl dd.position,
section#People ul.team-list li dl dd.position {
  margin: 4px 0 20px;
  color: #3f3c3c;
  font-size: 16px;
}
section#People ul.team-list li {
  padding-top: 0px;
}
section#People ul.team-list li div.team-image {
  width: 110px;
  height: 110px;
}
section#People ul.team-list li dl dt {
  font-size: 20px;
}
/* 리크루트 */
section#Recruit {
  font-size: 0;
  text-align: center;
  background: linear-gradient(0deg, rgba(255, 102, 153, 0.9), rgba(255, 102, 153, 0.9)), url(../img/us/recruit-background.png) no-repeat;
  background-size: cover;
}
section#Recruit h2 {
  color: #fff;
}
section#Recruit h2 span {
  color: #29cccc;
}
section#Recruit img {
  margin: 60px 0 40px;
  width: 120px;
  height: 120px;
}
section#Recruit p {
  color: #fff;
  font-size: 20px;
  word-break: keep-all;
}
@media only screen and (max-width: 669px) {
  section#Recruit p {
    font-size: 18px;
  }
}
section#Recruit a.recurit-btn {
  margin: 55px 20px 0;
  display: inline-block;
  padding: 13px 24px;
  color: #ff3377;
  font-size: 18px;
  background-color: #fff;
  border-radius: 33px;
  box-sizing: border-box;
}
section#Recruit a.recurit-btn.mail-btn {
  padding: 11px 24px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
/* contact */
section#Contact ul.contact-list {
  margin: 120px 0 0;
}
section#Contact ul.contact-list::after {
  content: "";
  display: block;
  clear: both;
}
section#Contact ul.contact-list li {
  margin-bottom: 100px;
  width: 25%;
  float: left;
}
@media only screen and (max-width: 669px) {
  section#Contact ul.contact-list li {
    width: 50%;
  }
}
section#Contact ul.contact-list li:last-child {
  padding-right: 510px;
  width: auto;
  background: url(../img/us/icon-contact.png) no-repeat;
  background-size: 376px 139px;
  background-position: right;
}
@media only screen and (max-width: 669px) {
  section#Contact ul.contact-list li:last-child {
    padding-top: 200px;
    padding-right: 0;
    background-size: 100%;
    background-position: top center;
  }
}
section#Contact ul.contact-list li p.contact-tit {
  margin-bottom: 20px;
  color: #7a8599;
  font-size: 16px;
  font-weight: 300;
}
section#Contact ul.contact-list li p.contact-item,
section#Contact ul.contact-list li p.contact-item a {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}
@media only screen and (max-width: 669px) {
  section#Contact ul.contact-list li p.contact-item,
  section#Contact ul.contact-list li p.contact-item a {
    font-size: 16px;
  }
}
section#Contact ul.contact-list li a.mail-btn {
  margin-top: 35px;
  display: block;
  padding: 10px 0;
  width: 140px;
  color: #ff3377;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ff4d88;
  border-radius: 33px;
  box-sizing: border-box;
}
div#map-canvas {
  width: 100%;
  height: 520px;
}
.team-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  transition: opacity 0s;
}
.team-modal .modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  width: 100%;
  height: 580px;
}
@media only screen and (max-width: 669px) {
  .team-modal .modal-wrapper {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
}
.team-modal .modal-wrapper div.image-area {
  position: relative;
  height: 270px;
  background-color: #fff;
}
.team-modal .modal-wrapper div.image-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 669px) {
  .team-modal .modal-wrapper div.image-area {
    height: auto;
    font-size: 0;
  }
}
.team-modal .modal-wrapper div.image-area button.close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 36px;
  height: 36px;
  font-size: 1px;
  text-indent: -99999px;
  background: url(../img/us/icon-close.png) no-repeat 0;
  background-size: 100%;
  border: 0;
  cursor: pointer;
}
.team-modal .modal-wrapper div.image-area img {
  width: 100%;
  height: 100%;
}
.team-modal .modal-wrapper div.text-area {
  padding: 30px 40px;
  height: 310px;
  background-color: #fff;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .team-modal .modal-wrapper div.text-area {
    height: 100%;
  }
}
.team-modal .modal-wrapper div.text-area div.text-wrap {
  overflow-y: auto;
  height: 250px;
  -ms-overflow-style: none;
}
.team-modal .modal-wrapper div.text-area div.text-wrap::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 669px) {
  .team-modal .modal-wrapper div.text-area div.text-wrap {
    height: 45%;
  }
}
.team-modal .modal-wrapper div.text-area div.team-position {
  color: #7a8599;
  font-size: 18px;
  font-weight: 300;
}
.team-modal .modal-wrapper div.text-area h4 {
  margin-bottom: 10px;
  color: #000;
  font-size: 32px;
  font-weight: 300;
}
.team-modal .modal-wrapper div.text-area p {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  word-break: keep-all;
}
.team-modal .modal-wrapper div.text-area p:first-of-type {
  margin-top: 0;
}
/*대표님모달*/
#team1.team-modal div.modal-wrapper {
  height: 670px;
}
@media only screen and (max-width: 669px) {
  #team1.team-modal div.modal-wrapper {
    height: 100%;
  }
}
#team1.team-modal div.text-area {
  height: 400px;
}
@media only screen and (max-width: 669px) {
  #team1.team-modal div.text-area {
    height: 100%;
  }
}
