@charset "utf-8";
/* CSS 서브페이지t */
@import url(core.css);
@import url(DTcommon.css);
/*lnb디자인*/
#lnb_menu{
	position: relative;
	width:100%;
	height: 55px;
	background-color:#3980a8;
	z-index: 99;
}
#lnb_menu>div{
	position:relative;
	width:1200px;
	height: 100%;
	margin:0 auto;
/*	outline:1px solid lime;*/
}
#lnb_menu>div>ul{
	position:absolute;
	top:0;
	left:0;
	width:375px;
	height: 55px;
/*	outline:1px solid red;*/
}
#lnb_menu>div>ul>li{
	width:160px;
	height: 55px;
	line-height: 55px;
	border-left:1px solid #71b3d8;
	box-sizing: border-box;
	text-align: center;
}
#lnb_menu>div>ul>li:first-child{/*홈버튼튼*/
	width:55px;
	height: 100%;
}
#lnb_menu>div>ul>li:last-child{/*마지막 선, 마지막페이지표시*/
	border-right:1px solid #71b3d8;
	box-sizing: border-box;
	background-color:#5394b8;
}
#lnb_menu>div>ul>li>a::after{
	content:"";
	display: inline-block;
	position:relative;
top:0;
	left:10px;
width:10px;
	height: 10px;
	background:url(../web_images/renew_bg_location_arrow.png) no-repeat 0 0;
/*	outline:1px solid red;*/
}
#lnb_menu>div>ul>li:first-child>a::after{
	display: none;
}
#lnb_menu>div>ul>li>a{
	display:block;
	width:100%;
	height: 100%;
	color:#fff;
/*	outline:1px solid red;*/
}
/*lnb메뉴 클릭시 나오는 내비게이션 메뉴들*/

#lnb_menu>div>ul>li ol{
	display:none;
	position:relative;
	width:100%;
	border:1px solid #71b3d8;
	box-sizing: border-box;
/*	outline:1px solid red;*/
}
#lnb_menu>div>ul>li>ol>li{
	width:100%;
	height: 40px;
	background-color:#fff;
	border-top:1px solid #71b3d8;
	box-sizing: border-box;
	line-height: 40px;
}
#lnb_menu>div>ul>li>ol>li:hover a{/*하위메뉴 hover*/
	color:#2295d5;
	font-weight: bold;
	background-color:#ecf6fc;
}
#lnb_menu>div>ul>li>ol>li:first-child{
	border-top:none;
}
#lnb_menu>div>ul>li>ol>li>a{
	display:block;
	width:100%;
	height: 100%;
	color:#464646;
/*	outline:1px solid red;*/
}













/*서브컨텐츠 영역*/
#subcont{
	position:relative;
	width:1200px;
	min-height: 800px;/*컨텐츠가 없을땐 800px을 유지하다가 컨텐츠가 800px 이상으로 늘어나면 밀고 나간다*/
	margin:0 auto;
	background-color:#fff;
/*	outline:1px solid red;*/
	padding-top:10px;
	padding-bottom:20px;
	border-right:1px solid #d2d2d2;
	border-left:1px solid #d2d2d2;
	box-sizing: border-box;
}
#subcont>h2{/*타이틀*/
	position:relative;
	width:350px;
	height: 70px;
	font-size:2.2em;
	line-height: 70px;
	text-align: center;
	margin:0 auto;
	margin-top:20px;
/*	outline:1px solid red;*/
	border-bottom:7px solid #3980a8;
	box-sizing: border-box;
	color:#464646;
}
#subcont>ul{/*탭메뉴*/
	position: relative;
	width:75%;
	height: 50px;
	margin:0 auto;
	margin-top:50px;
	border:1px solid #d2d2d2;
	box-sizing: border-box;
}
#subcont>ul>li{
	width:33.3%;
	height: 100%;
	border-left:1px solid #d2d2d2;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
}
#subcont>ul>li:first-child{
	border-left:none;
}
#subcont>ul>li>a{
	display: block;
	width:100%;
	height: 100%;
	font-weight: bold;
	font-size: 18px;
	color:#464646;
/*	outline: 1px solid lime;*/
}
#subcont>ul>li:first-child>a{
	color:#fff;
	background-color: #3980a8;
}
/*컨텐츠박스 디자인인*/
.mvinfo>div:first-child{/*첫번째 컨텐츠박스*/
	position: relative;
	width: 75%;
	height: 120px;
	margin:0 auto;
	margin-top:40px;
	background-color:#f9f9f9;
/*	outline:1px solid red;*/
}
.mvinfo>div:first-child h3{
	position: absolute;
	font-size:17px;
	top:15px;
	left:20px;
	color:#464646;
}
.mvinfo>div:first-child p{
	position:absolute;
	top:40px;
	left:35px;
	line-height: 30px;
	font-size:15px;
}
.mvinfo>div:nth-child(2){/*두번째 컨텐츠박스*/
	position: relative;
	width: 75%;
	height: 360px;
	margin:0 auto;
	margin-top:30px;
	background-color:#f9f9f9;
}
.mvinfo>div:nth-child(2) img{
	position: relative;
	top:70px;
	left:70px;
}
.mvinfo>div:nth-child(2) h4{
	position: absolute;
	top:70px;
	left:310px;
	font-size:25px;
	color:#3980a8;
}
.mvinfo>div:nth-child(2) p{
	position:absolute;
	top:120px;
	left:330px;
	line-height: 30px;
	font-size:15px;
}
.mvinfo>div:nth-child(2) span{
	position: absolute;
	width:220px;
	height: 80px;
	right: 55px;
	bottom:40px;
	background-color:#3980a8;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 80px;
}
.mvinfo>div:nth-child(2) span a{
	display: block;
	width:100%;
	height: 100%;
	color:#fff;
}
.mvinfo>div:nth-child(3){/*세번째박스*/
	position: relative;
	width: 75%;
	height: 190px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:100px;
	background-color:#fff;
/*	outline:1px solid blue;*/
}
.mvinfo>div:nth-child(3)::before{/*상자 윗선*/
	content:"";
	display: block;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	height: 10px;	
	background:url(../web_images/renew_bg_introduce.gif) repeat-x 0 0 ;
}
.mvinfo>div:nth-child(3)::after{/*상자 윗선 모서리*/
	content:"";
	display: block;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	height: 40px;	
	background:url(../web_images/renew_bg_introduce_icon.png) no-repeat 0 0;
}
.mvinfo>div:nth-child(3) p{
	position:absolute;
	margin-top:35px;
	left:30px;
	line-height: 30px;
	font-size:15px;
}
.mvinfo>div:nth-child(3) p::after{/*상자 아래선*/
	content:"";
	display: block;
	position: absolute;
	bottom:-40px;
	left:-30px;
	right: 0;
	height: 10px;
	background:url(../web_images/renew_bg_introduce.gif) repeat-x 0 0;
}
.mvi_2, .mvi_3{
	display:none;
}


















