@charset "utf-8";
/* core.css 사이트 전체 공통 디자인*/

@font-face{
	font-family:NG;/*폰트이름은 내가 마음대로 지을 수 있어요*/
	src:url(../fonts/NanumGothic.eot)format("eot"),url(../fonts/NanumGothic.woff)format("woff"),url(../fonts/NanumGothic.ttf)format("ttf");
}
@font-face{
	font-family:NGB;/*폰트이름은 내가 마음대로 지을 수 있어요*/
	src:url(../fonts/NanumGothicExtraBold.eot)format("eot"),url(../fonts/NanumGothicExtraBold.woff)format("woff"),url(../fonts/NanumGothicExtraBold.ttf)format("ttf");
}
html,body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
img{
	border:none;
}
body{
	color:#000;
	font-size:13px;
	background-color:#FBFBFB;
	overflow-x: hidden;/*가로스크롤 숨기기*/
/*	min-width:740px;*/
}
body, button, h1, h2, h3, h4, h5, input, select, table, textarea {
	font-family: NG,sans-serif;
    font-size: 16px;
    line-height: 1.267em;/*약 19px 1.267*16px(1em=16px이므로)*/
}
button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, figure, figcaption {
    margin: 0;
    padding: 0;
}
a{/*a 태그 공통 설정, 색, 글자간격, 밑줄없애기*/
	color:#222;
	letter-spacing: -1px;
	text-decoration:none;
}

a:visited{
	color:#888;/*방문한 링크 글자색 변경*/
}
/*전체 ul ol li 만들기(한번 만들어서 사이즈, 위아래 조절만)*/
ul,ol{
	list-style:none;/*블릿 없애기*/
}
li{
	float:left;/*옆으로 흐르게*/
}
ul::after, ol::after{/* float 설정 해제 */
	content:"";
	display:block;
	clear:both;
}

























